N8n/01. Secretária (7).json
{
  "name": "01. Secretária",
  "nodes": [
    {
      "parameters": {
        "jsCode": "const ultima_mensagem_da_fila = $input.last()\nconst mensagem_do_workflow = $('Info').first()\n\nif (ultima_mensagem_da_fila.json.id_mensagem !== mensagem_do_workflow.json.id_mensagem) {\n  // Mensagem encavalada, para o workflow\n  return [];\n}\n\n// Pass-through da fila de mensagens\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2688,
        1104
      ],
      "id": "4587ab1c-26dd-4445-9e09-42927f7fba79",
      "name": "Mensagem encavalada?"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8n_fila_mensagens",
          "mode": "list"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "telefone",
              "value": "={{ $('Info').item.json.telefone }}"
            }
          ]
        },
        "sort": {
          "values": [
            {
              "column": "timestamp"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2464,
        1104
      ],
      "id": "5949ae7c-4b6b-4db8-8d96-440c0a495f73",
      "name": "Buscar mensagens",
      "credentials": {
        "postgres": {
          "id": "mImkza6QQlfR310f",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8n_fila_mensagens",
          "mode": "list"
        },
        "deleteCommand": "delete",
        "where": {
          "values": [
            {
              "column": "telefone",
              "value": "={{ $('Info').item.json.telefone }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2976,
        1312
      ],
      "id": "ee4d7113-1296-4846-9b3e-76e9eb7cdf89",
      "name": "Limpar fila de mensagens",
      "credentials": {
        "postgres": {
          "id": "mImkza6QQlfR310f",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "amount": 3
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2256,
        1104
      ],
      "id": "55ba5676-7811-40e8-b672-17fe5e63e130",
      "name": "Esperar",
      "webhookId": "69871c8c-03d2-425d-8330-9617b82ee290"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Info').item.json.mensagem }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    },
                    "id": "1382cd26-d96e-4c55-99dd-2ca305ffe82e"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Texto"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "bf854624-77ee-461e-a072-e373dcecf4f8",
                    "leftValue": "={{ $('Info').item.json.info_arquivo }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Arquivo"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b9a7e16f-b6e4-45d7-846d-92dcb3117593",
                    "leftValue": "={{ $('Info').item.json.mensagem_de_audio }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Áudio"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1504,
        1184
      ],
      "id": "1639aba1-e909-427b-8031-6fd3f85b05ba",
      "name": "Tipo de mensagem"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Utilize essa ferramenta para listar a foto tiposCabelos quando nescessario",
        "resource": "fileFolder",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "107iMhKF5tMrUIEN5c0ubMvvXdGx4oCFj",
            "mode": "list",
            "cachedResultName": "Cabelos",
            "cachedResultUrl": "https://drive.google.com/drive/folders/107iMhKF5tMrUIEN5c0ubMvvXdGx4oCFj"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTool",
      "typeVersion": 3,
      "position": [
        3488,
        1360
      ],
      "id": "bd719a80-0bc0-4297-8067-eef9939f8f59",
      "name": "Listar arquivos",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "LZZZt5QcLMI1FP0v",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Info').item.json.telefone }}",
        "tableName": "n8n_historico_mensagens",
        "contextWindowLength": 50
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        3344,
        1360
      ],
      "id": "f582c420-04b1-41a3-b38d-7ce862dd78a5",
      "name": "Memory",
      "credentials": {
        "postgres": {
          "id": "mImkza6QQlfR310f",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Notas sobre agendas Google Calendar\n\nPara referenciar uma agenda do Google Calendar corretamente, acesse as configurações da agenda, clique em \"Integrar agenda\", e copie o \"ID da agenda\".\n\nPara agendas criadas, esse ID se parece com isso:\n\nc_6c3005bf4afd591f13f242f6509208ddbe2feadad3f6521884ab79c59069bfd0@group.calendar.google.com\n\nPara sua agenda principal, o ID será simplesmente o seu email (exemplo: `seuemail@gmail.com`)\n\nCom esse ID em mãos, atualize o System Prompt com todas as agendas que precisar.\n",
        "height": 368,
        "width": 480,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3728,
        2192
      ],
      "id": "b75d45ca-4a9e-4220-948f-6d3941d08140",
      "name": "Sticky Note17",
      "disabled": true
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8n_fila_mensagens",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telefone": "={{ $('Info').item.json.telefone }}",
            "mensagem": "={{ $('Info').item.json.mensagem || $json.text || $json.content.parts?.[0].text || '<mensagem de áudio não audível>' }}{{ $('Info').item.json.info_arquivo ? `\\n${$('Info').item.json.info_arquivo}` : '' }}",
            "timestamp": "={{ $('Info').item.json.timestamp.toDateTime() }}",
            "id_mensagem": "={{ $('Info').item.json.id_mensagem }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "id_mensagem",
              "displayName": "id_mensagem",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "telefone",
              "displayName": "telefone",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "mensagem",
              "displayName": "mensagem",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2032,
        1184
      ],
      "id": "a4f68d5e-a628-477a-8607-6a8c27ec4f73",
      "name": "Enfileirar mensagem.",
      "credentials": {
        "postgres": {
          "id": "mImkza6QQlfR310f",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Info').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Info').item.json.id_conta }}/conversations/{{ $('Info').item.json.id_conversa }}/update_last_seen",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "chatwootApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3216,
        1120
      ],
      "id": "dbe452d9-d574-494d-b3c7-dae155c1820d",
      "name": "Marcar como lidas",
      "credentials": {
        "chatwootApi": {
          "id": "t1ve0OCJD2PszsnN",
          "name": "ChatWoot account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $('Mensagem recebida').item.json.body.attachments[0].data_url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "chatwootApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1696,
        1296
      ],
      "id": "2d62a84b-5d54-4034-8a93-aa6ddfe3a6c3",
      "name": "Download áudio",
      "credentials": {
        "chatwootApi": {
          "id": "t1ve0OCJD2PszsnN",
          "name": "ChatWoot account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {
          "language": "pt"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1856,
        1296
      ],
      "id": "c017be07-4f29-44d7-afb9-ae9e12e696eb",
      "name": "Transcrever audio",
      "credentials": {
        "openAiApi": {
          "id": "tWuj8X5LkhhaBCjK",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "description": "Utilize essa ferramenta para direcionar o atendimento para o gestor responsável.",
        "workflowId": {
          "__rl": true,
          "value": "D5oKZjWSHvzN751z",
          "mode": "list",
          "cachedResultUrl": "/workflow/D5oKZjWSHvzN751z",
          "cachedResultName": "05. Escalar humano"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "telefone": "={{ $('Info').item.json.telefone }}",
            "url_chatwoot": "={{ $('Info').item.json.url_chatwoot }}",
            "id_conversa": "={{ $('Info').item.json.id_conversa }}",
            "id_conta": "={{ $('Info').item.json.id_conta }}",
            "resumo_conversa": "={{ $fromAI('resumo_conversa', `Um breve resumo com pontos chave da conversa.`, 'string') }}",
            "ultima_mensagem": "={{ $('Coletar mensagens').item.json.mensagem }}",
            "nome": "={{ $('Info').item.json.nome }}",
            "id_conversa_alerta": "={{ $('Info').item.json.id_conversa_alerta }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "telefone",
              "displayName": "telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "nome",
              "displayName": "nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "ultima_mensagem",
              "displayName": "ultima_mensagem",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "resumo_conversa",
              "displayName": "resumo_conversa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "id_conta",
              "displayName": "id_conta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "id_conversa",
              "displayName": "id_conversa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "url_chatwoot",
              "displayName": "url_chatwoot",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "id_conversa_alerta",
              "displayName": "id_conversa_alerta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        4192,
        1360
      ],
      "id": "5596498a-6eb8-4da1-9e85-a97fc0c9c438",
      "name": "Escalar humano"
    },
    {
      "parameters": {
        "content": "[![ElevenLabs](https://framerusercontent.com/images/YU6MnXR7ZjWNRjlYzx2Hrpcx0.png)](https://try.elevenlabs.io/9k5l5hagxkel)",
        "height": 80,
        "width": 160,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        7104,
        1680
      ],
      "id": "870d7577-4622-4a0e-9be7-361e41f66016",
      "name": "Sticky Note28"
    },
    {
      "parameters": {
        "content": "## Importante\n\nSe a mensagem não está sendo marcada como lida, verifique no na configuração de ambos os WhatsApp (pelo celular) se a confirmação de leitura está habilitada.",
        "width": 320,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3328,
        944
      ],
      "id": "699450ec-1494-487f-8c38-5f8ee78a64d4",
      "name": "Sticky Note34"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "40ff895f-f63f-4e4f-bba3-c7d803c277f1",
              "name": "url_chatwoot",
              "value": "https://chatwoot.aquariseia.ch",
              "type": "string"
            },
            {
              "id": "542c4f0e-1d6a-4da2-8e08-a4127bd85423",
              "name": "agendamento_duracao_minutos",
              "value": "30",
              "type": "string"
            },
            {
              "id": "8f1f8dd4-12e7-4c56-8d56-ada479a7225d",
              "name": "cobranca_valor",
              "value": "500",
              "type": "string"
            },
            {
              "id": "9aa7c3ba-f1fa-4222-9b2e-824a2c743409",
              "name": "id_conversa_alerta",
              "value": "2",
              "type": "string"
            },
            {
              "id": "a1ae5215-cb10-4482-a5b0-b59cb0407171",
              "name": "url_asaas",
              "value": "https://api-sandbox.asaas.com",
              "type": "string"
            },
            {
              "id": "c8fd010d-6096-4a50-b3e2-e9fe26661840",
              "name": "id_mensagem",
              "value": "={{ $json.body.id }}",
              "type": "string"
            },
            {
              "id": "1b513343-9b6a-4f6e-a012-ed819bf34a31",
              "name": "id_conta",
              "value": "={{ $json.body.account.id }}",
              "type": "string"
            },
            {
              "id": "05c14b9a-5f27-465a-a047-71553826bd7a",
              "name": "id_conversa",
              "value": "={{ $json.body.conversation.id }}",
              "type": "string"
            },
            {
              "id": "7ca2f49a-8aad-47db-877f-6b8ddc6c6830",
              "name": "id_contato",
              "value": "={{ $json.body.conversation.contact_inbox.contact_id }}",
              "type": "string"
            },
            {
              "id": "8bf522a6-75fb-434a-854c-b736539309e1",
              "name": "telefone",
              "value": "={{ $json.body.sender.phone_number || $json.body.sender.email || 'guest_' + $json.body.sender.id }}",
              "type": "string"
            },
            {
              "id": "188fafa0-910a-456b-91d0-9c9188d66535",
              "name": "nome",
              "value": "={{ $json.body.sender.name }}",
              "type": "string"
            },
            {
              "id": "0d622a33-f313-4758-a764-fa6cbf2b0587",
              "name": "mensagem",
              "value": "={{ $json.body.content || '' }}",
              "type": "string"
            },
            {
              "id": "8f4b9d84-56e0-4f45-9f17-68c53f365f43",
              "name": "mensagem_de_audio",
              "value": "={{ $json.body.attachments?.[0]?.meta?.is_recorded_audio || false }}",
              "type": "boolean"
            },
            {
              "id": "2b679a3f-788f-4cd2-88d5-4f03af68f224",
              "name": "timestamp",
              "value": "={{ $json.body.created_at }}",
              "type": "string"
            },
            {
              "id": "24caf88e-74ce-43ab-8dc4-1fff471b706f",
              "name": "tipo",
              "value": "={{ $json.body.message_type }}",
              "type": "string"
            },
            {
              "id": "573669d2-1e43-4010-8c82-a67459ffe1db",
              "name": "etiquetas",
              "value": "={{ $json.body.conversation.labels }}",
              "type": "array"
            },
            {
              "id": "38610298-ef19-4e79-bdeb-753c02636ef7",
              "name": "email_usuario",
              "value": "={{ $json.body.sender.email }}",
              "type": "string"
            },
            {
              "id": "d37b6368-01a0-4161-a4a9-26c0960cd489",
              "name": "atributos_contato",
              "value": "={{ $json.body.sender.custom_attributes }}",
              "type": "object"
            },
            {
              "id": "6ab3c868-9b6b-4452-884d-7f8faeeabdd5",
              "name": "info_arquivo",
              "value": "={{ !$json.body.attachments?.[0]?.meta?.is_recorded_audio && $json.body.attachments[0]?.file_type ? `\\n<usuário enviou um arquivo do tipo '${$json.body.attachments[0]?.file_type}'>` : '' }}",
              "type": "string"
            },
            {
              "id": "e15ce02a-7b4e-47f4-ac88-467a47f29e59",
              "name": "body.inbox.name",
              "value": "={{ $json.body.inbox.name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        816,
        1200
      ],
      "id": "f2dc081e-a702-40cd-86d4-5b858434ce2f",
      "name": "Info"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b2ed5d70-7afa-4b23-ba63-5bcc23325d25",
              "leftValue": "={{ $json.tipo }}",
              "rightValue": "incoming",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "82912d66-ee4b-439c-9d55-96090bc6ba62",
              "leftValue": "={{ $json.etiquetas }}",
              "rightValue": "agente-off",
              "operator": {
                "type": "array",
                "operation": "notContains",
                "rightType": "any"
              }
            },
            {
              "id": "ed3e36d7-4f2c-4804-9e8d-f9b08494e939",
              "leftValue": "={{ $json.etiquetas }}",
              "rightValue": "gestor",
              "operator": {
                "type": "array",
                "operation": "notContains",
                "rightType": "any"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1312,
        1200
      ],
      "id": "69186f89-9ac2-460f-a014-6446bbaa70c5",
      "name": "Processar mensagem?"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.mensagem.toLowerCase() }}",
                    "rightValue": "/reset",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "a29a880e-fb21-43fa-9a4a-092128ddfe2e"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Reset"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "3dd2c5af-7ae0-4d65-98b2-66ab0fe22c45",
                    "leftValue": "={{ $json.mensagem.toLowerCase() }}",
                    "rightValue": "/teste",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Teste"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "Mensagem normal"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        1088,
        1184
      ],
      "id": "3e2311a9-b45a-466d-81d7-c04fb3882eeb",
      "name": "Reset ou teste"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Info').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Info').item.json.id_conta }}/conversations/{{ $('Info').item.json.id_conversa }}/labels",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "chatwootApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "labels",
              "value": "={{ $('Info').item.json.etiquetas.filter(etiqueta => !['agente-off'].includes(etiqueta)) }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1792,
        528
      ],
      "id": "24a088d8-fa28-448f-97d7-eafc187ba343",
      "name": "Limpar etiquetas",
      "credentials": {
        "chatwootApi": {
          "id": "t1ve0OCJD2PszsnN",
          "name": "ChatWoot account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Info').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Info').item.json.id_conta }}/conversations/{{ $('Info').item.json.id_conversa }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "chatwootApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "=Memória resetada."
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2352,
        528
      ],
      "id": "74e2a3d9-c3b4-43ad-bf4d-fed684c8ef46",
      "name": "Enviar memória resetada",
      "credentials": {
        "chatwootApi": {
          "id": "t1ve0OCJD2PszsnN",
          "name": "ChatWoot account"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list"
        },
        "table": {
          "__rl": true,
          "value": "n8n_historico_mensagens",
          "mode": "list"
        },
        "deleteCommand": "delete",
        "where": {
          "values": [
            {
              "column": "session_id",
              "value": "={{ $('Info').item.json.telefone }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1408,
        528
      ],
      "id": "0cab1c0f-8064-4fdb-b96f-684fa89ae322",
      "name": "Limpar memória",
      "credentials": {
        "postgres": {
          "id": "mImkza6QQlfR310f",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Info').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Info').item.json.id_conta }}/contacts/{{ $('Info').item.json.id_contato }}/destroy_custom_attributes",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "chatwootApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"custom_attributes\": [\"preferencia_audio_texto\", \"asaas_id_cliente\", \"asaas_id_cobranca\", \"asaas_status_cobranca\"]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1600,
        528
      ],
      "id": "157da6cb-5470-47fe-bde5-4c8831229f25",
      "name": "Resetar atributos",
      "credentials": {
        "chatwootApi": {
          "id": "t1ve0OCJD2PszsnN",
          "name": "ChatWoot account"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8n_fila_mensagens",
          "mode": "list"
        },
        "deleteCommand": "delete",
        "where": {
          "values": [
            {
              "column": "telefone",
              "value": "={{ $('Info').item.json.telefone }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2176,
        528
      ],
      "id": "521383a2-595b-4ec9-82a9-47d8be1cc28e",
      "name": "Limpar fila de mensagens1",
      "credentials": {
        "postgres": {
          "id": "mImkza6QQlfR310f",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Info').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Info').item.json.id_conta }}/conversations/{{ $('Info').item.json.id_conversa }}/labels",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "chatwootApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "labels",
              "value": "={{ $json.etiquetas.append('testando-agente').unique() }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1408,
        832
      ],
      "id": "116a710d-b0d9-4fd4-b3b0-0c7f9eaf1c66",
      "name": "Colocar etiqueta testando-agente",
      "credentials": {
        "chatwootApi": {
          "id": "t1ve0OCJD2PszsnN",
          "name": "ChatWoot account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Info').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Info').item.json.id_conta }}/conversations/{{ $('Info').item.json.id_conversa }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "chatwootApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "=Modo de teste habilitado."
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1600,
        832
      ],
      "id": "feb9d931-be8c-4d61-ab4b-8941185680b9",
      "name": "Enviar teste habilitado",
      "credentials": {
        "chatwootApi": {
          "id": "t1ve0OCJD2PszsnN",
          "name": "ChatWoot account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "84e8cae9-28e3-4abd-869c-612fcff95948",
              "leftValue": "={{ $json.isEmpty() }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "ee8306ee-1d14-4732-9865-a21f52da6a2e",
              "leftValue": "={{ $json.lock_conversa }}",
              "rightValue": "pending",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            },
            {
              "id": "bf08f3f7-aff7-47be-8f89-2d0e3ee19049",
              "leftValue": "={{ $runIndex }}",
              "rightValue": 5,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2576,
        1312
      ],
      "id": "12eb3ab9-b78a-4615-b802-c48111bbe450",
      "name": "Agente já terminou de responder?"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7eab8669-6929-4dc6-b3e2-943065bc306c",
              "name": "mensagem",
              "value": "={{ $('Mensagem encavalada?').all().map(info => info.json.mensagem).join('\\\\n') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3408,
        1120
      ],
      "id": "cdadd28b-24fb-4a1d-8b14-3b2e6ccfa636",
      "name": "Coletar mensagens",
      "executeOnce": true
    },
    {
      "parameters": {
        "toolDescription": "Utilize essa ferramenta para enviar uma mensagem de texto para o usuário. Usada para enviar links, números de telefone, e outras informações a serem destacadas, e que não funcionam bem para mensagens de áudio.\n\nQuando utilizar essa ferramenta, **NUNCA INCLUA OS DADOS NOVAMENTE NA SUA SAÍDA**.",
        "method": "POST",
        "url": "={{ $('Info').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Info').item.json.id_conta }}/conversations/{{ $('Info').item.json.id_conversa }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "chatwootApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "={{ $fromAI('conteudo', ``, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        4192,
        1488
      ],
      "id": "9cfa27e2-c7a9-4761-a4d0-eea24a262b5b",
      "name": "Enviar texto separado",
      "credentials": {
        "chatwootApi": {
          "id": "t1ve0OCJD2PszsnN",
          "name": "ChatWoot account"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8n_historico_mensagens",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "session_id": "={{ $('Info').item.json.telefone }}",
            "message": "={\n  \"type\": \"ai\",\n  \"content\": \"<tool-calls>{{ $json.intermediateSteps.map(s => `<tool-call><action>${s.action.log}</action><result>${s.observation}</result></tool-call>`).join('').replaceAll('\\n', '').replaceAll('\\\\\"',\"'\").replaceAll('\"',\"'\") }}</tool-calls>\",\n  \"tool_calls\": [],\n  \"additional_kwargs\": {},\n  \"response_metadata\": {},\n  \"invalid_tool_calls\": []\n}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "message",
              "displayName": "message",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        5312,
        1184
      ],
      "id": "7622b3a6-4ce3-4229-91a6-548a49b0c5a2",
      "name": "Salvar tool calls",
      "credentials": {
        "postgres": {
          "id": "mImkza6QQlfR310f",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "063ab981-e52e-4779-9c1a-8d6dfa384643",
              "leftValue": "={{ $json.intermediateSteps }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        5056,
        1248
      ],
      "id": "f5755f9e-e57a-4c01-9ed4-4640a9bf90dd",
      "name": "Usou tools?"
    },
    {
      "parameters": {
        "url": "={{ $('Info').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Info').item.json.id_conta }}/contacts/{{ $('Info').item.json.id_contato }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "chatwootApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5696,
        1280
      ],
      "id": "e3ca1b45-817c-454a-9b57-20b0b5182b7a",
      "name": "Buscar atributos do contato",
      "credentials": {
        "chatwootApi": {
          "id": "t1ve0OCJD2PszsnN",
          "name": "ChatWoot account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const { preferencia_audio_texto } = $('Buscar atributos do contato').first().json.payload.custom_attributes;\nconst { mensagem_de_audio } = $('Info').first().json;\n\nif (preferencia_audio_texto === 'texto') {\n  return { tipo_resposta: 'texto' };\n}\nif (preferencia_audio_texto === 'audio') {\n  return { tipo_resposta: 'audio' };\n}\n// Preferência não setada, usar tipo da mensagem do usuário\nreturn { tipo_resposta: mensagem_de_audio ? 'audio' : 'texto' };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5888,
        1280
      ],
      "id": "f81db3b4-830a-4979-afab-73068c48ce4c",
      "name": "Calcular tipo da resposta"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.tipo_resposta }}",
                    "rightValue": "texto",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "1382cd26-d96e-4c55-99dd-2ca305ffe82e"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Texto"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b9a7e16f-b6e4-45d7-846d-92dcb3117593",
                    "leftValue": "={{ $json.tipo_resposta }}",
                    "rightValue": "audio",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Áudio"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        6080,
        1280
      ],
      "id": "a383d7dd-a861-4bfb-9baf-7918e74c14d2",
      "name": "Tipo da resposta"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Info').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Info').item.json.id_conta }}/conversations/{{ $('Info').item.json.id_conversa }}/toggle_typing_status",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "chatwootApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "typing_status",
              "value": "recording"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        6672,
        1360
      ],
      "id": "b0db9521-fa4b-4235-b5f1-a590bfc4a070",
      "name": "Gravando...",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Info').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Info').item.json.id_conta }}/conversations/{{ $('Info').item.json.id_conversa }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "chatwootApi",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "is_recorded_audio",
              "value": "=[\"{{ $binary.data.fileName }}\"]"
            },
            {
              "parameterType": "formBinaryData",
              "name": "attachments[]",
              "inputDataFieldName": "data"
            },
            {
              "name": "content_attributes",
              "value": "={\"zapi_args\":{\"delayTyping\":12}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        7072,
        1360
      ],
      "id": "778ec543-3c35-4800-945c-7c7afb85694f",
      "name": "Enviar áudio",
      "disabled": true
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "tp4UG6s9qmTqtrxO",
          "mode": "list",
          "cachedResultUrl": "/workflow/tp4UG6s9qmTqtrxO",
          "cachedResultName": "07. Quebrar e enviar mensagens"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "mensagem": "={{ $('Formatar texto').item.json.text }}",
            "id_conversa": "={{ $('Info').item.json.id_conversa }}",
            "id_conta": "={{ $('Info').item.json.id_conta }}",
            "url_chatwoot": "={{ $('Info').item.json.url_chatwoot }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "mensagem",
              "displayName": "mensagem",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "url_chatwoot",
              "displayName": "url_chatwoot",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "id_conta",
              "displayName": "id_conta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "id_conversa",
              "displayName": "id_conversa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        6880,
        1120
      ],
      "id": "f1506356-e3f7-4211-8d20-553e52ed7090",
      "name": "Quebrar e enviar mensagens"
    },
    {
      "parameters": {
        "description": "Utilize essa ferramenta para buscar as janelas disponíveis no um período especificado. Evite utilizar com janelas de tamanho muito grandes e muito pequenas. Por exemplo, considerando disponibilidade já informada das 08h às 19h:\n\n* Para janelas maiores, não busque com período fora do horário de disponibilidade já informado nas instruções.\n\n\"Quais janelas estão disponíveis amanhã?\"\n- Período início: 08h, período fim: 19h\n- (Ao invés de 00h às 00h do dia seguinte)\n\n* Para janelas menores, insira uma margem antes e depois do horário desejado.\n\n\"O horário das 12h está disponível?\"\n- Período início: 10h, período fim: 14h\n- (Ao invés de 12h às 12h30, para tamanho de janela de 30m)",
        "workflowId": {
          "__rl": true,
          "value": "gL15fu5PunnHtuN3",
          "mode": "list",
          "cachedResultName": "My Sub-Workflow 1",
          "cachedResultUrl": "/workflow/gL15fu5PunnHtuN3"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "periodo_inicio": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('periodo_inicio', \"Deve ser uma data e horário no futuro. Datas passadas são inválidas. A data deve ser no formato: `YYYY-MM-DDThh:mm:ssTZD`. Utilize o fuso horário conforme a data atual.\", 'string') }}",
            "periodo_fim": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('periodo_fim', \"Deve ser uma data e horário no futuro. Datas passadas são inválidas. A data deve ser no formato: `YYYY-MM-DDThh:mm:ssTZD`. Utilize o fuso horário conforme a data atual.\", 'string') }}",
            "id_agenda": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('id_agenda', ``, 'string') }}",
            "tamanho_janela_minutos": "={{ $('Info').item.json.agendamento_duracao_minutos }}",
            "granularidade": 15
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "periodo_inicio",
              "displayName": "periodo_inicio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "periodo_fim",
              "displayName": "periodo_fim",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "id_agenda",
              "displayName": "id_agenda",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "tamanho_janela_minutos",
              "displayName": "tamanho_janela_minutos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            },
            {
              "id": "granularidade",
              "displayName": "granularidade",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            },
            {
              "id": "amostras",
              "displayName": "amostras",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        3792,
        1360
      ],
      "id": "e38cb9d4-8b05-4ed4-9f73-4cc8f2047d69",
      "name": "Buscar janelas disponiveis"
    },
    {
      "parameters": {
        "toolDescription": "Use essa ferramenta caso o lead expresse preferência por receber somente áudio, ou somente texto.",
        "method": "PATCH",
        "url": "={{ $('Info').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Info').item.json.id_conta }}/contacts/{{ $('Info').item.json.id_contato }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "chatwootApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ \n  {\n    \"custom_attributes\": {\n      ...$('Info').item.json.atributos_contato,\n      preferencia_audio_texto: $fromAI('preferencia_audio_texto', 'audio | texto', 'string')\n    }\n  }\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        4336,
        1488
      ],
      "id": "e2286989-4d37-48f3-8fe9-4a49aa622b51",
      "name": "Preferencia audio texto",
      "credentials": {
        "chatwootApi": {
          "id": "t1ve0OCJD2PszsnN",
          "name": "ChatWoot account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Envia uma mensagem de reação como resposta a uma mensagem do usuário. Reação é sempre um emoji.\n\nIgnore a saída dessa ferramenta, ela é a mensagem enviada para o contato.\n\n**NUNCA UTILIZE ESSA FERRAMENTA MÚLTIPLAS VEZES SEGUIDAS**",
        "method": "POST",
        "url": "={{ $('Info').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Info').item.json.id_conta }}/conversations/{{ $('Info').item.json.id_conversa }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "chatwootApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content_attributes",
              "value": "={ \"in_reply_to\": {{ $('Info').item.json.id_mensagem }}, \"is_reaction\": true }"
            },
            {
              "name": "content",
              "value": "={{ $fromAI('content', `O emoji da reação.`, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        4336,
        1360
      ],
      "id": "03081ae4-9576-463d-888d-424d32742694",
      "name": "Reagir mensagem",
      "credentials": {
        "chatwootApi": {
          "id": "t1ve0OCJD2PszsnN",
          "name": "ChatWoot account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        6288,
        1488
      ],
      "id": "6f3a9a06-30b6-41c6-a52a-e7c320efce4c",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "tWuj8X5LkhhaBCjK",
          "name": "OpenAi account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        6352,
        1232
      ],
      "id": "335e771b-8f01-4f2c-89a1-dd524eda9660",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "tWuj8X5LkhhaBCjK",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Configurar node Info!!",
        "height": 240,
        "width": 288,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        720,
        1120
      ],
      "typeVersion": 1,
      "id": "77e3be55-4944-416e-a5f9-1bb2b9207f03",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8n_status_atendimento",
          "mode": "list"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "session_id",
              "value": "={{ $('Info').item.json.telefone }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2352,
        1312
      ],
      "id": "1d740a13-abd3-4877-9e02-5c11cc3c7f6c",
      "name": "Verificar status atendimento",
      "alwaysOutputData": true,
      "executeOnce": true,
      "credentials": {
        "postgres": {
          "id": "mImkza6QQlfR310f",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8n_status_atendimento",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "session_id": "={{ $('Info').item.json.telefone }}",
            "lock_conversa": true,
            "numero_followup": 0,
            "aguardando_followup": true,
            "updated_at": "={{ $now }}"
          },
          "matchingColumns": [
            "session_id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "lock_conversa",
              "displayName": "lock_conversa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "aguardando_followup",
              "displayName": "aguardando_followup",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "numero_followup",
              "displayName": "numero_followup",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2944,
        1088
      ],
      "id": "116bb106-b7cf-431d-875b-20aa33617350",
      "name": "Bloquear status atendimento",
      "alwaysOutputData": false,
      "credentials": {
        "postgres": {
          "id": "mImkza6QQlfR310f",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8n_status_atendimento",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "session_id": "={{ $('Info').item.json.telefone }}",
            "lock_conversa": false,
            "numero_followup": 0,
            "aguardando_followup": false
          },
          "matchingColumns": [
            "session_id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "lock_conversa",
              "displayName": "lock_conversa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "aguardando_followup",
              "displayName": "aguardando_followup",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "numero_followup",
              "displayName": "numero_followup",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1984,
        528
      ],
      "id": "2bc26ea0-ea6d-408d-bc2b-20a86719b4b4",
      "name": "Resetar status atendimento",
      "alwaysOutputData": false,
      "credentials": {
        "postgres": {
          "id": "mImkza6QQlfR310f",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8n_status_atendimento",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "session_id": "={{ $('Info').item.json.telefone }}",
            "lock_conversa": false
          },
          "matchingColumns": [
            "session_id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "lock_conversa",
              "displayName": "lock_conversa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "aguardando_followup",
              "displayName": "aguardando_followup",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "numero_followup",
              "displayName": "numero_followup",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        5296,
        1360
      ],
      "id": "d83d5c98-1c75-4487-b0b5-2834b4d5bea7",
      "name": "Limpar status atendimento",
      "alwaysOutputData": false,
      "credentials": {
        "postgres": {
          "id": "mImkza6QQlfR310f",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8n_status_atendimento",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "session_id": "={{ $('Info').item.json.telefone }}",
            "lock_conversa": false
          },
          "matchingColumns": [
            "session_id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "lock_conversa",
              "displayName": "lock_conversa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "aguardando_followup",
              "displayName": "aguardando_followup",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "numero_followup",
              "displayName": "numero_followup",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        7328,
        1232
      ],
      "id": "f70ebfea-2b46-49d8-b102-44e7f0dfe0d0",
      "name": "Limpar status atendimento1",
      "alwaysOutputData": false,
      "executeOnce": true,
      "credentials": {
        "postgres": {
          "id": "mImkza6QQlfR310f",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Resetar conversa\n",
        "height": 288,
        "width": 1200,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1328,
        448
      ],
      "typeVersion": 1,
      "id": "48e29fd5-3ea5-4006-96bc-945a360e912c",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Habilitar testes\n",
        "height": 272,
        "width": 448,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1328,
        752
      ],
      "typeVersion": 1,
      "id": "e48bf4aa-fe88-461b-8f8a-c49ba86c6575",
      "name": "Sticky Note3",
      "disabled": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        3216,
        1360
      ],
      "id": "0a7ca811-4167-4bf2-b7d7-8afb15967264",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "tWuj8X5LkhhaBCjK",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Core",
        "height": 336,
        "width": 272
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3184,
        1280
      ],
      "id": "567dfee0-0c77-445e-a417-cda1b5905e02",
      "name": "Sticky Note4",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Google Drive",
        "height": 336,
        "width": 272,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3472,
        1280
      ],
      "id": "e4f8b141-28c5-4ad6-b71d-43e1cb5695c2",
      "name": "Sticky Note6",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Google Calendar",
        "height": 336,
        "width": 384,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3760,
        1280
      ],
      "id": "ab97dbc3-19bc-4e2e-8075-cd6b58a482e1",
      "name": "Sticky Note8",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Chatwoot",
        "height": 336,
        "width": 432,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4160,
        1280
      ],
      "id": "845a341c-1d08-4192-b41a-b426971b4468",
      "name": "Sticky Note9",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Asaas",
        "height": 336,
        "width": 150,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4608,
        1280
      ],
      "id": "38c60b63-3e7c-4d42-b04d-e41316e780c3",
      "name": "Sticky Note12",
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "93a1e408-265a-438d-b860-1ea7f6a79f93",
              "leftValue": "={{ $json.output }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "e5ed93cc-0025-4858-a0e5-b621594b01de",
              "leftValue": "={{ $json.output }}",
              "rightValue": "Agent stopped due to max iterations.",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4848,
        1296
      ],
      "id": "73db6786-6fe3-4111-9ca1-bc5f0755a136",
      "name": "Output válido?"
    },
    {
      "parameters": {
        "errorMessage": "=Problema no output do agente: {{ $('Secretária v3').item.json.output }}"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        5488,
        1360
      ],
      "id": "271ea1f4-73a0-436d-bbb7-8fe80ff017ef",
      "name": "Output inválido"
    },
    {
      "parameters": {
        "content": "## Tratar input",
        "height": 448,
        "width": 1600,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        560,
        1040
      ],
      "id": "94def29d-e970-4079-bfa0-0250052f0b0c",
      "name": "Sticky Note35"
    },
    {
      "parameters": {
        "content": "## Mensagens encavaladas",
        "height": 448,
        "width": 960,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2176,
        1040
      ],
      "typeVersion": 1,
      "id": "68e1b81f-be5d-4dab-b712-0aa56a2d95f6",
      "name": "Sticky Note15",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Secretária\n",
        "height": 432,
        "width": 1632,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3152,
        1056
      ],
      "typeVersion": 1,
      "id": "02132d33-e320-412c-93fc-47c1769e1a0b",
      "name": "Sticky Note16",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Pré-processar e enviar resposta",
        "height": 608,
        "width": 1872,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        5632,
        1040
      ],
      "id": "d5ba528a-70a2-4e20-9558-9082b5af375b",
      "name": "Sticky Note37",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Tratar output do agente",
        "height": 608,
        "width": 816,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4800,
        1040
      ],
      "typeVersion": 1,
      "id": "0d955c09-f322-4367-a0d7-71d435f712fa",
      "name": "Sticky Note19"
    },
    {
      "parameters": {
        "content": "# Checklist\n\nPara habilitar os nodes, selecionar e apertar \"D\".\n\n- [x] Configurar webhook no Chatwoot\n- [ ] Configura o node \"Info\"\n- [ ] Subworkflow \"Baixar e enviar arquivo\" -> Workflow 02\n- [ ] Subworkflow \"Buscar janelas disponíveis\" -> Workflow 03\n- [ ] Subworkflow \"Criar evento\" -> Workflow 04\n- [ ] Subworkflow \"Escalar humano\" -> Workflow 05\n- [ ] Subworkflow \"Criar ou buscar cobrança\" -> Workflow 06\n- [ ] Abrir os nodes restantes para selecionar as credenciais\n- [ ] Posicionar corretamente o node \"Bloquear status atendimento\"",
        "height": 448,
        "width": 544,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        1040
      ],
      "id": "9182d6c4-861e-46f7-b64e-21811e27af96",
      "name": "Sticky Note23"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Secretária v3').item.json.output }}",
        "messages": {
          "messageValues": [
            {
              "message": "=Você é especialista em formatação de mensagem para WhatsApp, trabalhando somente na formatação e não alterando o conteúdo da mensagem, use negrito para sinalizar coisas importantes o negrito se usa colocando *. \n\nEx: *sua frase aqui*.\n\n- Substitua ** por *\n- Remova #\n\n**SUA SAÍDA DEVE SER SOMENTE A MENSAGEM FORMATADA. NÃO INCLUA NENHUMA INFORMAÇÃO ADICIONAL NA SAÍDA**"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        6480,
        1120
      ],
      "id": "aa76415f-2ea1-4ab3-a749-ebfd7a8c911c",
      "name": "Formatar texto",
      "retryOnFail": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Secretária v3').item.json.output }}",
        "messages": {
          "messageValues": [
            {
              "message": "=Você é um assistente especialista em text-to-speech e formatação usando tags SSML.\n\nVocê irá receber um texto e a sua tarefa é aplicar tags SSML para deixá-lo mais natural no processo de geração de voz.\n\n### Formatação\n\n#### Datas e horas\n\nNo caso de datas e horas, modifique o texto para um formato que seja mais natural quando falado.\n\nExemplos:\n\n- Entrada: '10:00'\n- Saída: 'dez horas'\n\n- Entrada: '22:00'\n- Saída: 'vinte e duas horas'\n\n- Entrada: '01/01/2025'\n- Saída: 'primeiro de janeiro de 2025'\n\n#### Telefones\n\nSimilar ao feita para datas, modifique o texto para um formato que seja mais natural quando falado. Para o DDD converta sempre em dezena, e para o resto dos números, adicione pausas entre cada bloco.\n\nExemplos:\n\n- Entrada: '(11) 1234-5678'\n- Saída: 'onze, um dois três quatro, cinco seis sete oito'\n\n#### Endereços\n\nFaça a mesma coisa para endereços. Exemplos:\n\n- Entrada: 'Av. Rondon Pacheco'\n- Saída: 'Avenida Rondon Pacheco'\n\n- Entrada: 'CEP 12345-000'\n- Saída: 'CEP um dois três quatro cinco zero zero zero'\n\n#### Pausas\n\nA formatação de pausas em SSML é como segue:\n\n```\n<break time=\"1s\"/>\n```\n\nSempre que necessário, inclua pausas nesse formato.\n\n**NUNCA INCLUA PAUSAS COMO TEXTO**. Exemplo incorreto: ❌ \"Pausa de 1s\"\n\n### Notas\n\n- Sempre coloque uma pausa de 1.0s no começo.\n- Não use breaks no meio do texto, apenas no começo.\n- Mantenha o mesmo texto original, mas revise o uso de vírgulas excessivas para deixar o texto mais natural ao falar.\n- Remova emojis.\n- A sua saída será somente o texto convertido.\n- Use <speak> ao redor da saída.\n\n\n**NÃO INCLUA NENHUMA INFORMAÇÃO ALÉM DO TEXTO CONVERTIDO**\n**NUNCA INCLUA CARACTER DE NOVA LINHA \"\\n\" NA SAÍDA**\n**NUNCA COLOQUE ÂNCORAS COMO ```ssml AO REDOR DO TEXTO**"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        6352,
        1360
      ],
      "id": "f91031f5-181c-4057-8f5a-77763606c5c8",
      "name": "Formatar SSML",
      "retryOnFail": true,
      "disabled": true
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "Vendedora-aqua",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        592,
        1200
      ],
      "id": "b73361aa-a8b6-4ef7-9c52-12a304423826",
      "name": "Mensagem recebida",
      "webhookId": "f903d152-e83a-4b33-bc73-eb24bd0523be"
    },
    {
      "parameters": {
        "toolDescription": "Envia um alerta de consulta cancelada para o gestor da clínica.",
        "method": "POST",
        "url": "={{ $('Info').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Info').item.json.id_conta }}/conversations/{{ $('Info').item.json.id_conversa_alerta }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "chatwootApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', ``, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        4480,
        1360
      ],
      "id": "e824ad83-8457-4f90-bae9-19ac982fdf23",
      "name": "Enviar alerta de cancelamento",
      "credentials": {
        "chatwootApi": {
          "id": "t1ve0OCJD2PszsnN",
          "name": "ChatWoot account"
        }
      }
    },
    {
      "parameters": {
        "description": "Utilize essa ferramenta para criar um agendamento no horário especificado, com duração do evento conforme já especificado nas instruções gerais.\n\nSempre verifique se já não chamou essa ferramenta antes de chamá-la.\n\n**NUNCA CHAME ESSA FERRAMENTA MAIS DE UMA VEZ PARA O MESMO AGENDAMENTO.**\n\nCaso necessário, utilize a ferramenta \"Buscar_agendamentos_do_contato\" para confirmar se o agendamento já foi realizado para esse contato.",
        "workflowId": {
          "__rl": true,
          "value": "kcsWpwmhPmMAtLCW",
          "mode": "list",
          "cachedResultUrl": "/workflow/kcsWpwmhPmMAtLCW",
          "cachedResultName": "04. Criar evento Google Calendar"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "evento_inicio": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('evento_inicio', \"Deve ser uma data e horário no futuro. Datas passadas são inválidas. A data deve ser no formato: `YYYY-MM-DDThh:mm:ssTZD`. Utilize o fuso horário conforme a data atual.\", 'string') }}",
            "duracao_minutos": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('duracao_minutos', ``, 'number') }}",
            "titulo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('titulo', ``, 'string') }}",
            "descricao": "={{ $fromAI('descricao', ``, 'string') }}\n\nTelefone: {{ $('Info').item.json.telefone }}",
            "id_agenda": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('id_agenda', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "evento_inicio",
              "displayName": "evento_inicio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "duracao_minutos",
              "displayName": "duracao_minutos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            },
            {
              "id": "titulo",
              "displayName": "titulo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "descricao",
              "displayName": "descricao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "id_agenda",
              "displayName": "id_agenda",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        3920,
        1360
      ],
      "id": "56d5b19a-d658-4ab2-9e04-c42a1279e79d",
      "name": "Criar agendamento"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Utilize essa ferramenta para deletar um agendamento.",
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "={{ $fromAI('id_agenda', ``, 'string') }}",
          "mode": "id"
        },
        "eventId": "={{ $fromAI('id_evento', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        3920,
        1504
      ],
      "id": "a15ed5a6-bac8-4641-9080-1db869e0fe44",
      "name": "Cancelar agendamento",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "hHIRRqrzp6adQ1Ev",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Utilize essa ferramenta para buscar os agendamentos já existentes para o contato atual. Utilize antes de criar novos agendamentos, para evitar agendamentos duplicados.",
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "={{ $fromAI('id_agenda', ``, 'string') }}",
          "mode": "id"
        },
        "returnAll": true,
        "timeMax": "=",
        "options": {
          "query": "={{ $('Info').item.json.telefone }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        4048,
        1360
      ],
      "id": "e14eaea4-16e3-47d9-a893-5efe268b8132",
      "name": "Buscar agendamentos do contato",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "hHIRRqrzp6adQ1Ev",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "description": "Utilize essa ferramenta para criar uma nova cobrança para o usuário, ou para consultar os dados de uma cobrança já existente.\n\nAntes de criar uma nova cobrança, sempre crie um agendamento para o cliente primeiro.",
        "workflowId": {
          "__rl": true,
          "value": "Zc4w9sIZSsbJwDW4",
          "mode": "list",
          "cachedResultUrl": "/workflow/Zc4w9sIZSsbJwDW4",
          "cachedResultName": "<selecionar ou criar subworkflow 06. Integração Asaas>"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "cobranca_valor": "={{ $('Info').item.json.cobranca_valor }}",
            "cobranca_vencimento": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('cobranca_vencimento', `Data do vencimento no format YYYY-MM-DD. Informar como o dia do agendamento + 7 dias.`, 'string') }}",
            "telefone": "={{ $('Info').item.json.telefone }}",
            "nome": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('nome', ``, 'string') }}",
            "cpf": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('cpf', ``, 'string') }}",
            "id_conta": "={{ $('Info').item.json.id_conta }}",
            "id_contato": "={{ $('Info').item.json.id_contato }}",
            "asaas_id_cliente": "={{ $('Info').item.json.atributos_contato.asaas_id_cliente }}",
            "asaas_id_cobranca": "={{ $('Info').item.json.atributos_contato.asaas_id_cobranca }}",
            "url_chatwoot": "={{ $('Info').item.json.url_chatwoot }}",
            "url_asaas": "={{ $('Info').item.json.url_asaas }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "cobranca_valor",
              "displayName": "cobranca_valor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "cobranca_vencimento",
              "displayName": "cobranca_vencimento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "telefone",
              "displayName": "telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "nome",
              "displayName": "nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "cpf",
              "displayName": "cpf",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "id_conta",
              "displayName": "id_conta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "id_contato",
              "displayName": "id_contato",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "asaas_id_cliente",
              "displayName": "asaas_id_cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "asaas_id_cobranca",
              "displayName": "asaas_id_cobranca",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "url_chatwoot",
              "displayName": "url_chatwoot",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "url_asaas",
              "displayName": "url_asaas",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        4640,
        1360
      ],
      "id": "505ee40e-d686-4db2-9b99-e2ef9162901e",
      "name": "Criar ou buscar cobranca",
      "disabled": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.mensagem }}",
        "options": {
          "systemMessage": "=# 🌊 PAPEL DA AQUA\n\nVocê é a Aqua, consultora especialista em cabelos da Aquarise Shop. \n💜 **SUPER PODER**: Você consegue identificar o produto PERFEITO para cada tipo de cabelo através de perguntas estratégicas!\n\nSua missão: Atender via WhatsApp, investigar necessidades através de perguntas certeiras e recomendar o produto ideal do catálogo. 💧✨\n\n# 👤 INFORMAÇÕES DO CLIENTE (Contexto)\n\nEtiquetas do Usuário: {{ $('Info').item.json.etiquetas }}\nNome: {{ $('Info').item.json.nome }}\n\n# 💖 PERSONALIDADE E TOM DE VOZ\n\n* **Poliglota Atenta**: ATENÇÃO TOTAL À SAUDAÇÃO INICIAL. Responda no mesmo idioma do cliente.\n  - \"Oi/Olá\" -> Português (PT-BR) 🇧🇷\n  - \"Hello/Hi\" -> Inglês (EN) 🇺🇸\n  - \"Hola\" -> Espanhol (ES) 🇪🇸\n  - \"Bonjour/Salut\" -> Francês (FR) 🇫🇷\n* **Simpática e Vibrante**: Seja cordial e cheia de energia positiva! Evite diminutivos em excesso.\n* **Rainha dos Emojis**: Use emojis para colorir a conversa! 💧🌊💖💜💙✨🦋🛍️\n* **Concisa e Calma**: NÃO MANDE TEXTÕES. Seja breve. Fale pouco e ouça mais.\n* **Vendedora Conectada**: SEMPRE sugira produto adicional e convide para o Instagram.\n\n# 📋 SOP - PROCEDIMENTO OPERACIONAL PADRÃO\n\n## 1️⃣ FLUXO DE ATENDIMENTO INICIAL (OBRIGATÓRIO)\n\n⚠️ **REGRA DE OURO**: SEMPRE pergunte o nome PRIMEIRO, antes de qualquer outra coisa!\n\n### Passo 1: Saudação e Nome\n* Responda no idioma do cliente\n* Pergunte o NOME antes de tudo\n* *Exemplo*: \"Oi! Tudo bem? 💖 Sou a Aqua da Aquarise Shop! 🌊 Qual é o seu nome?\"\n\n### Passo 2: Apresentação do Super Poder\n* \"[Nome], que legal! 💜 Eu sou especialista em identificar o produto PERFEITO para seu tipo de cabelo! ✨\"\n\n### Passo 3: Descoberta Aberta\n* \"O que você está procurando hoje? 💧\"\n\n## 2️⃣ FLUXO DE CONSULTORIA E VENDAS (Passo a Passo)\n\n⚠️ **REGRA DE OURO**: Faça APENAS UMA pergunta por vez. Aguarde a resposta do cliente antes de perguntar a próxima coisa. Não atropele a conversa.\n\n### SE FOR PRODUTO CAPILAR:\n#### Passo 1: Investigação (Anamnese)\n* Pergunte sobre o problema principal ou objetivo\n* *Exemplo*: \"O que mais te incomoda no seu cabelo hoje? 🤔\"\n\n#### Passo 2: Tipo de Cabelo\n* \"Seu cabelo é liso, ondulado, cacheado ou crespo? 💜\"\n\n#### Passo 3: Química\n* \"Tem alguma química? (progressiva, coloração, luzes...) 🌿\"\n\n#### Passo 4: Estado Atual\n* \"Como está seu cabelo: seco, oleoso, misto? 💧\"\n\n#### Passo 5: Identificação da Curvatura (se necessário)\n* \"Você sabe sua curvatura (1A, 2B, 3C...)?\"\n* **Se não souber**: Use a ferramenta `Enviar_arquivo_drive` com \"tiposCabelos\"\n\n#### Passo 6: Match de Produto + PRODUTO ADICIONAL\n⚠️ **SEMPRE INDIQUE 2 PRODUTOS: Principal + Complementar**\n\n* Apresente a solução principal:\n  1. **Nome do Produto Principal** 🧴\n  2. **Por que é perfeito para ela** 💪\n  3. **LINK DE COMPRA** 🛍️\n\n* Sugira produto adicional:\n  1. **\"E para potencializar...\"** ou **\"Ah! Também recomendo...\"**\n  2. **Nome do Produto Adicional** ✨\n  3. **Benefício combinado**\n  4. **LINK DE COMPRA** 🛍️\n\n#### Passo 7: FINALIZAÇÃO TRIPLA (OBRIGATÓRIA)\nSEMPRE termine com estas 3 ações:\n1. **Pergunte**: \"Posso te ajudar com mais alguma coisa? 💜\"\n2. **Ofereça**: \"Temos também [categoria relacionada], quer conhecer? 🦋\"\n3. **Instagram**: \"Ah! Segue nosso Instagram para dicas e novidades! 📸✨ @aquariseshop\"\n\n### SE FOR PERFUMARIA OU PRODUTO NÃO LISTADO:\n**RESPOSTA PADRÃO OBRIGATÓRIA:**\n\"[Nome], anotei seu pedido! 📝💜 Ainda não temos [produto] em estoque, mas vou registrar seu interesse. Assim que chegar, entraremos em contato pelo WhatsApp para te avisar! 💖 \n\nEnquanto isso, posso te ajudar com produtos capilares? Temos tratamentos incríveis! ✨\n\nSegue nosso Instagram para ficar por dentro das novidades! 📸 @aquariseshop\"\n\n## 3️⃣ FLUXO DE AGENDAMENTO ADMINISTRATIVO (Rayanna)\n\n1. Verifique se o usuário tem a etiqueta \"gestor\"\n2. Se NÃO tiver: Responda educadamente\n3. Se TIVER: Use `Buscar_janelas_disponiveis` e depois `Criar_agendamento`\n\n# 🛍️ CATÁLOGO\n\nConsulte a ferramenta 'Consultar_catalogo' para obter a lista de produtos e promoções.\n\n# 🎯 ROTEIROS DE INVESTIGAÇÃO + PRODUTOS ADICIONAIS\n\n## Para QUEDA/QUEBRA:\n1. \"Há quanto tempo nota a queda?\"\n2. \"Passou por estresse recente?\"\n→ **Principal**: Linha Cavalo Forte\n→ **Adicional**: Tônico Siàge Acelera Crescimento\n\n## Para FRIZZ:\n1. \"Seu cabelo tem química?\"\n2. \"Como está a hidratação?\"\n→ **Principal**: Máscara Xapadinha\n→ **Adicional**: Óleo Disciplinante Xapadinha\n\n## Para LOIROS:\n1. \"Quantas vezes descoloriu?\"\n2. \"Está emborrachado?\"\n→ **Principal**: Máscara Bendito Loiro\n→ **Adicional**: Proteína Bendito Loiro\n\n## Para CACHOS:\n1. \"Qual sua curvatura?\"\n2. \"Quer definição ou volume?\"\n→ **Principal**: Máscara Cachos Sim\n→ **Adicional**: Gel Crème Cachos Sim\n\n## Para SECOS:\n1. \"Usa chapinha/secador?\"\n2. \"Tem química?\"\n→ **Principal**: Máscara Murumuru\n→ **Adicional**: Néctar Murumuru\n\n# 💬 EXEMPLOS COMPLETOS COM NOVO FLUXO\n\n## Exemplo 1 - Fluxo Completo\n**Cliente**: Oi\n**Aqua**: Oi! Tudo bem? 💖 Sou a Aqua da Aquarise Shop! 🌊 Qual é o seu nome?\n\n**Cliente**: Maria\n**Aqua**: Maria, que legal! 💜 Eu sou especialista em identificar o produto PERFEITO para seu tipo de cabelo! ✨ O que te trouxe aqui hoje?\n\n**Cliente**: Meu cabelo tá muito seco\n**Aqua**: Entendi, Maria! Cabelo seco é chato mesmo 💧 Ele é natural ou tem química?\n\n**Cliente**: Tem progressiva\n**Aqua**: Ahh, progressiva! As pontas estão mais ressecadas ou é o cabelo todo? 🤔\n\n**Cliente**: Mais as pontas\n**Aqua**: Perfeito, Maria! Encontrei a dupla IDEAL para você! 💜\n\n🌟 **Máscara Pós Progressiva** \nRepara os danos da química e hidrata profundamente sem tirar o liso! \n🛍️ Compre aqui: https://www.aquariseshop.com/?product=29\n\n✨ **E para potencializar: Fluido Pós Progressiva**\nLeave-in com proteção térmica que mantém o liso e as pontas sedosas o dia todo!\n🛍️ Garanta também: https://www.aquariseshop.com/?product=30\n\nPosso te ajudar com mais alguma coisa? 💜\nTemos também uma linha completa de perfumaria, quer conhecer? 🦋\nAh! Segue nosso Instagram para dicas e novidades! 📸✨ @aquariseshop\n\n## Exemplo 2 - Produto não disponível\n**Cliente**: Oi\n**Aqua**: Oi! Tudo bem? 💖 Sou a Aqua da Aquarise Shop! 🌊 Qual é o seu nome?\n\n**Cliente**: João\n**Aqua**: João, que legal! 💜 Eu sou especialista em identificar o produto PERFEITO para seu tipo de cabelo! ✨ O que você está procurando hoje? 💧\n\n**Cliente**: Vocês tem gel de barbear?\n**Aqua**: João, anotei seu pedido! 📝💜 Ainda não temos gel de barbear em estoque, mas vou registrar seu interesse. Assim que chegar, entraremos em contato pelo WhatsApp para te avisar! 💖\n\nEnquanto isso, posso te ajudar com produtos capilares masculinos? Temos o **Shampoo Siàge Men** que controla oleosidade e caspa! 💪\n🛍️ Confira: https://www.aquariseshop.com/?product=126\n\nE também a **Pomada Modeladora Siàge Men** para um visual impecável! ✨\n🛍️ Veja aqui: https://www.aquariseshop.com/?product=128\n\nPosso te ajudar com mais alguma coisa? 💜\nTemos também perfume masculino Club 6 Intenso, quer conhecer? 🦋\nAh! Segue nosso Instagram para dicas e novidades! 📸✨ @aquariseshop\n\n# 🛠️ FERRAMENTAS DISPONÍVEIS\n\n### Enviar_arquivo_drive\nUso: Enviar \"tiposCabelos\" quando a cliente não souber a curvatura\n\n### Buscar_janelas_disponiveis / Criar_agendamento\nUso: Apenas para fluxo administrativo (etiqueta \"gestor\")\n\n# 🏢 INFORMAÇÕES DA LOJA\n\n* Site: https://www.aquariseshop.com/\n* Instagram: https://www.instagram.com/aquariseshop/ (SEMPRE mencionar no final)\n* WhatsApp: Atendimento via Aqua 💜\n\n# ⚠️ REGRAS FINAIS OBRIGATÓRIAS\n\n1. **SEMPRE** sugira um produto adicional complementar\n2. **SEMPRE** pergunte \"Posso te ajudar com mais alguma coisa? 💜\"\n3. **SEMPRE** ofereça outra categoria: \"Temos também [categoria], quer conhecer? 🦋\"\n4. **SEMPRE** finalize com Instagram: \"Ah! Segue nosso Instagram para dicas e novidades! 📸✨ https://www.instagram.com/aquariseshop/\"\n5. **NUNCA** termine a conversa sem essas 4 ações",
          "returnIntermediateSteps": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        3776,
        1120
      ],
      "id": "b2ccc4da-3929-468c-93fa-d562fa5881fa",
      "name": "Secretária v3",
      "retryOnFail": true
    },
    {
      "parameters": {
        "content": "## Importante!!\n\nO node \"Bloquear status atendimento\" não permite que o fluxo siga normalmente até que o workflow execute até o final, então deixamos ele de fora do fluxo inicialmente.\n\nApós finalizar os testes, adicionar ele entre os nodes \"Agente já terminou de responder?\" e \"Limpar fila de mensagens\"",
        "height": 240,
        "width": 368,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2800,
        832
      ],
      "typeVersion": 1,
      "id": "e21051c8-75ad-47e8-8498-afe800a0998b",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "resource": "speech",
        "voice": {
          "__rl": true,
          "value": "33B4UnXyTNbgLmdEDh5P",
          "mode": "list"
        },
        "text": "={{ $('Formatar SSML').item.json.text }}",
        "additionalOptions": {
          "model": {
            "__rl": true,
            "value": "eleven_flash_v2_5",
            "mode": "list"
          },
          "outputFormat": "mp3_44100_32",
          "languageCode": "pt-BR",
          "voiceSettings": "{\n  \"stability\": 0.35,\n  \"similarity_boost\": 0.44,\n  \"speed\": 1.1\n}"
        },
        "requestOptions": {}
      },
      "type": "@elevenlabs/n8n-nodes-elevenlabs.elevenLabs",
      "typeVersion": 1,
      "position": [
        6880,
        1360
      ],
      "id": "6106f8ec-a8c1-4ce4-87da-1030a22ec325",
      "name": "Gerar áudio",
      "retryOnFail": true,
      "disabled": true
    },
    {
      "parameters": {
        "content": "# Checklist - ElevenLabs\n\n[Clique aqui para criar sua conta gratuita no ElevenLabs](https://try.elevenlabs.io/9k5l5hagxkel)\n\n- [ ] Acessar biblioteca de vozes e escolher uma voz. Recomendamos usar a [Keren](https://elevenlabs.io/app/voice-library?voiceId=33B4UnXyTNbgLmdEDh5P)\n- [ ] Clicar no \"+\" (\"Add to my voices\") e clicar no novo botão que irá surgir (\"Use voice\")\n- [ ] Caso ainda não tenha feito, buscar e instalar node `ElevenLabs` (atualizar a página pra aparecer o node)\n- [ ] Ajustar características da voz no node \"Gerar áudio\". Valores padrão configurados para testar pelo dashboard do ElevenLabs:\n\n- **Model**: Eleven Flash v2.5\n- **Speed**: 1.10\n- **Stability**: 35%\n- **Similarity**: 44%\n\n- [ ] Criar credencial -> https://elevenlabs.io/app/developers/api-keys (marcar opções `Text to Speech: Access`, `Voices: Read`, `Models: Read`)",
        "height": 464,
        "width": 656,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        6656,
        1664
      ],
      "id": "ef92b942-e91d-4211-95cb-77df8e9a474b",
      "name": "Sticky Note24"
    },
    {
      "parameters": {
        "content": "# Checklist - Google\n\nPara habilitar os nodes, selecionar e apertar \"D\".\n\n### Configurações Google (Drive, Calendar, etc...)\n- [x] Criar e selecionar projeto -> https://console.cloud.google.com/\n- [x] Criar client OAuth -> https://console.cloud.google.com/auth/clients\n- [x] Baixar arquivo com as credenciais (ID do cliente e chave secreta)\n\n#### Ativar APIs\n- [x] [Google Calendar](https://console.cloud.google.com/marketplace/product/google/calendar-json.googleapis.com)\n- [x] [Google Drive](https://console.cloud.google.com/marketplace/product/google/drive.googleapis.com)\n- [x] [Google Tasks](https://console.cloud.google.com/marketplace/product/google/tasks.googleapis.com)\n- [x] [Gmail](https://console.cloud.google.com/marketplace/product/google/gmail.googleapis.com)\n\n### Criar credenciais\n- [ ] Google Drive\n- [ ] Google Calendar\n",
        "height": 496,
        "width": 512,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4256,
        2128
      ],
      "id": "c301f3c5-fcf5-41b4-b02e-eab2187087f5",
      "name": "Sticky Note27"
    },
    {
      "parameters": {
        "content": "## Importante!!\n\nApós realizar todos os seus testes, para colocar a Secretária em produção, basta remover a última regra do filtro \"Processar mensagem?\" (etiqueta \"testando-agente\")",
        "width": 320,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1184,
        1360
      ],
      "typeVersion": 1,
      "id": "abaa84df-9018-43cd-9f03-150eddb3b89c",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "description": "Utilize essa ferramenta para atualizar informações no título e descrição do evento.\n\n* Ao atualizar o título e descrição, sempre verifique se você está mantendo informações anteriores que ainda são relevantes. Caso informações importantes no título e descrição do evento não tenham mudado, mantenha como antes.\n* Não pode ser utilizada para atualizar o horário do agendamento, para isso, remova o evento e crie outro utilizando as outras ferramentas.",
        "workflowId": {
          "__rl": true,
          "value": "rCqHQ8CaJhR6eG6e",
          "mode": "list",
          "cachedResultUrl": "/workflow/rCqHQ8CaJhR6eG6e",
          "cachedResultName": "04.1 [EXTRA] Atualizar agendamento"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "id_agenda": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('id_agenda', ``, 'string') }}",
            "id_evento": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('id_evento', ``, 'string') }}",
            "titulo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('titulo', ``, 'string') }}",
            "descricao": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('descricao', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "id_agenda",
              "displayName": "id_agenda",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "id_evento",
              "displayName": "id_evento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "titulo",
              "displayName": "titulo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "descricao",
              "displayName": "descricao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        3792,
        1504
      ],
      "id": "18cf4132-922a-4f78-89e3-a849cb913282",
      "name": "Atualizar agendamento"
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1600,
        1520
      ],
      "id": "dea7ca95-6be4-4173-9627-3295849800bb",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "content": "\n\n\n\n\n\n\n\n\n\n\n\n\n\nAlguns áudios chegam em formato não suportado pela OpenAI, então precisamos converter",
        "height": 272,
        "width": 352,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1536,
        1504
      ],
      "typeVersion": 1,
      "id": "f8b8aed6-d7e3-4c13-8012-35de9b454039",
      "name": "Sticky Note14"
    },
    {
      "parameters": {
        "content": "## 01. Secretária",
        "height": 80,
        "width": 272,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        928
      ],
      "id": "0b336d6c-5225-4f4f-ac6e-2741e24f17bb",
      "name": "Sticky Note25"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "data",
        "options": {
          "mimeType": "audio/mpeg"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1744,
        1520
      ],
      "id": "ff81400f-faee-421c-be5c-9c6f8e430541",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "description": "Use essa ferramenta para refletir sobre algo. Ela não obterá novas informações nem alterará o banco de dados, apenas adicionará o pensamento ao registro. Use-a quando for necessário um raciocínio complexo ou alguma memória em cache."
      },
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1.1,
      "position": [
        3216,
        1488
      ],
      "id": "fb4281a5-b726-467e-ba27-168984d1292e",
      "name": "Refletir"
    },
    {
      "parameters": {
        "content": "## Tria Pela ETIQUETA",
        "height": 336,
        "width": 192,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1264,
        1120
      ],
      "typeVersion": 1,
      "id": "41680271-8be5-4278-ab63-8f9468acb35c",
      "name": "Sticky Note13"
    },
    {
      "parameters": {
        "content": "## Faz referencia ao cabelo",
        "height": 288,
        "width": 150,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3600,
        1248
      ],
      "typeVersion": 1,
      "id": "274b6e10-7508-4ed6-a078-f584b2dbce2f",
      "name": "Sticky Note18"
    },
    {
      "parameters": {
        "description": "Utilize essa ferramenta para enviar um arquivo do Google Drive para o usuário.\n",
        "workflowId": {
          "__rl": true,
          "value": "wsbXtGd58IgYcUx7",
          "mode": "list",
          "cachedResultUrl": "/workflow/wsbXtGd58IgYcUx7",
          "cachedResultName": "02. Baixar e enviar arquivo do Google Drive"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "url_chatwoot": "={{ $('Info').item.json.url_chatwoot }}",
            "id_conta": "={{ $('Info').item.json.id_conta }}",
            "id_conversa": "={{ $('Info').item.json.id_conversa }}",
            "file_id": "=1Z14iT0FXlArC-lijJmJ6axSXt_OX-xK2"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "file_id",
              "displayName": "file_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "id_conta",
              "displayName": "id_conta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "id_conversa",
              "displayName": "id_conversa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "url_chatwoot",
              "displayName": "url_chatwoot",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        3648,
        1408
      ],
      "id": "bfcd1282-a071-4b19-8a3e-178fed62cf91",
      "name": "Enviar arquivo1"
    },
    {
      "parameters": {
        "name": "Consultar_catalogo",
        "description": "Retorna o catálogo completo de produtos com descrições e links. Use sempre que precisar recomendar produtos.",
        "jsCode": "return \"# 🛍️ CATÁLOGO COMPLETO COM DESCRIÇÕES DETALHADAS\\n\\n## 🐴 LINHA CAVALO FORTE (Crescimento e Força)\\n\\n**Shampoo Cavalo Forte**\\nLink: https://www.aquariseshop.com/?product=1\\n📝 Fortalece e restaura profundamente os fios, auxiliando no crescimento saudável. Com Biotina, Pantenol e Queratina, aumenta a elasticidade e o brilho.\\n💜 Para: Cabelos fracos, quebradiços, com queda excessiva\\n\\n**Condicionador Cavalo Forte**\\nLink: https://www.aquariseshop.com/?product=3\\n📝 Desembaraça e sela as cutículas, proporcionando força e brilho. Auxilia no combate à quebra e pontas duplas.\\n💜 Para: Complementar tratamento fortificante\\n\\n**Máscara Cavalo Forte**\\nLink: https://www.aquariseshop.com/?product=4\\n📝 Tratamento profundo que reconstrói a fibra capilar, proporcionando força, brilho e crescimento acelerado.\\n💜 Para: Tratamento intensivo semanal\\n\\n**Leave-in Cavalo Forte**\\nLink: https://www.aquariseshop.com/?product=6\\n📝 Finalizador sem enxágue que protege os fios, facilita o pentear e reforça a estrutura capilar.\\n💜 Para: Proteção diária e desembaraço\\n\\n**Complexo Fortalecedor Cavalo Forte**\\nLink: https://www.aquariseshop.com/?product=7\\n📝 Concentrado de vitaminas que potencializa a hidratação e o fortalecimento quando adicionado à máscara.\\n💜 Para: Turbinar tratamentos\\n\\n**Selante de Pontas Cavalo Forte**\\nLink: https://www.aquariseshop.com/?product=8\\n📝 Repara e une as pontas duplas, recuperando a resistência e o aspecto saudável dos fios.\\n💜 Para: Pontas duplas e ressecadas\\n\\n## 👱‍♀️ LINHA BENDITO LOIRO\\n\\n**Shampoo Bendito Loiro**\\nLink: https://www.aquariseshop.com/?product=9\\n📝 Reconstrução para cabelos descoloridos. Limpa suavemente enquanto repõe massa e combate o emborrachamento.\\n💜 Para: Loiros danificados\\n\\n**Condicionador Bendito Loiro**\\nLink: https://www.aquariseshop.com/?product=10\\n📝 Sela as cutículas e devolve a emoliência aos fios loiros, combatendo a porosidade e o frizz.\\n💜 Para: Selar e hidratar loiros\\n\\n**Máscara Bendito Loiro**\\nLink: https://www.aquariseshop.com/?product=11\\n📝 Regeneração intensiva com Vinagre Balsâmico e Complexo de Proteínas. Recupera a resistência e o brilho dos loiros.\\n💜 Para: Reconstrução profunda\\n\\n**Fluido Bendito Loiro**\\nLink: https://www.aquariseshop.com/?product=12\\n📝 Protetor térmico e solar que blinda os fios contra danos, reduz o frizz e previne o amarelamento.\\n💜 Para: Proteção diária de loiros\\n\\n**Proteína Bendito Loiro**\\nLink: https://www.aquariseshop.com/?product=13\\n📝 Reposição de massa proteica para cabelos extremamente danificados. Devolve a elasticidade e força.\\n💜 Para: Cabelos emborrachados\\n\\n## 🌀 LINHA CACHOS SIM (HASKELL)\\n\\n**Shampoo Cachos Sim**\\nLink: https://www.aquariseshop.com/?product=14\\n📝 Low Poo. Limpeza suave com Óleo de Coco e Colágeno, preservando a hidratação natural dos cachos.\\n💜 Para: Limpeza suave de cachos\\n\\n**Condicionador Cachos Sim**\\nLink: https://www.aquariseshop.com/?product=16\\n📝 Nutre e define os cachos, facilitando o desembaraço e combatendo o frizz.\\n💜 Para: Nutrição e definição\\n\\n**Máscara Cachos Sim**\\nLink: https://www.aquariseshop.com/?product=18\\n📝 Hidratação e nutrição intensa. Recupera a elasticidade e memoriza a forma dos cachos.\\n💜 Para: Tratamento profundo de cachos\\n\\n**Leave-in Memorizer Cachos Sim**\\nLink: https://www.aquariseshop.com/?product=19\\n📝 Finalizador que ativa e define os cachos, com proteção térmica e efeito memória.\\n💜 Para: Definição com memória\\n\\n**Gel Crème Cachos Sim**\\nLink: https://www.aquariseshop.com/?product=20\\n📝 Textura inovadora que une a definição do gel com a nutrição do creme. Cachos definidos sem rigidez.\\n💜 Para: Definição nutritiva\\n\\n## 🌰 LINHA MURUMURU (HASKELL)\\n\\n**Shampoo Murumuru**\\nLink: https://www.aquariseshop.com/?product=21\\n📝 Nutrição prolongada para cabelos secos. Limpa enquanto repõe nutrientes essenciais.\\n💜 Para: Cabelos muito secos\\n\\n**Condicionador Murumuru**\\nLink: https://www.aquariseshop.com/?product=22\\n📝 Sela as cutículas e devolve a maciez e o brilho aos cabelos ressecados.\\n💜 Para: Selar nutrição\\n\\n**Máscara Murumuru**\\nLink: https://www.aquariseshop.com/?product=23\\n📝 Manteiga hidratante de alta performance. Penetra profundamente na fibra para nutrir e recuperar a elasticidade.\\n💜 Para: Nutrição profunda\\n\\n**Leave-in en Crème Murumuru**\\nLink: https://www.aquariseshop.com/?product=25\\n📝 Protege contra o ressecamento, facilita o pentear e controla o volume e o frizz.\\n💜 Para: Proteção nutritiva diária\\n\\n**Néctar Murumuru**\\nLink: https://www.aquariseshop.com/?product=26\\n📝 Óleo nutritivo concentrado. Pode ser usado puro ou misturado à máscara para potencializar a nutrição.\\n💜 Para: Potencializar tratamentos\\n\\n## ✨ LINHA PÓS PROGRESSIVA (HASKELL)\\n\\n**Shampoo Pós Progressiva**\\nLink: https://www.aquariseshop.com/?product=27\\n📝 Prolonga o efeito liso. Limpeza suave com Mix de Óleos que mantém os fios alinhados.\\n💜 Para: Manter progressiva\\n\\n**Condicionador Pós Progressiva**\\nLink: https://www.aquariseshop.com/?product=28\\n📝 Hidrata e reduz o frizz, mantendo o cabelo liso e disciplinado por mais tempo.\\n💜 Para: Hidratar sem pesar\\n\\n**Máscara Pós Progressiva**\\nLink: https://www.aquariseshop.com/?product=29\\n📝 Tratamento intensivo que repara os danos da química e preserva o alisamento.\\n💜 Para: Tratamento pós-química\\n\\n**Fluido Pós Progressiva**\\nLink: https://www.aquariseshop.com/?product=30\\n📝 Leave-in com proteção térmica. Desembaraça, dá brilho e mantém o efeito liso.\\n💜 Para: Finalização e proteção\\n\\n## 💜 LOLA COSMETICS - CONDICIONADORES\\n\\n**Condicionador Ela é Carioca**\\nLink: https://www.aquariseshop.com/?product=31\\n📝 Nutrição e hidratação profunda para todos os tipos de cabelo. Protege contra danos climáticos e restaura a maciez.\\n💜 Para: Hidratação universal\\n\\n**Condicionador Meu Cacho Minha Vida**\\nLink: https://www.aquariseshop.com/?product=32\\n📝 Desembaraça e define os cachos, proporcionando emoliência e movimento natural.\\n💜 Para: Cachos com movimento\\n\\n**Condicionador Morte Súbita**\\nLink: https://www.aquariseshop.com/?product=33\\n📝 Tratamento diário para cabelos sedentos de vida. Restaura a barreira de hidratação natural e dá suavidade.\\n💜 Para: Cabelos sedentos\\n\\n**Condicionador Papo Reto**\\nLink: https://www.aquariseshop.com/?product=34\\n📝 Reparação molecular que combate o frizz e o ressecamento. Ideal para cabelos quimicamente tratados.\\n💜 Para: Reparação molecular\\n\\n**Condicionador Camomila**\\nLink: https://www.aquariseshop.com/?product=35\\n📝 Ilumina e realça a cor dos cabelos loiros naturais ou tingidos. Com óleo essencial de Limão Siciliano e Camomila.\\n💜 Para: Iluminar loiros\\n\\n**Condicionador Ondulados Lola**\\nLink: https://www.aquariseshop.com/?product=36\\n📝 Define as ondas e controla o frizz, proporcionando brilho e leveza.\\n💜 Para: Ondas definidas\\n\\n**Condicionador/Co Wash Comigo Ninguém Pode**\\nLink: https://www.aquariseshop.com/?product=37\\n📝 Limpeza suave e condicionamento em um só passo. Ideal para técnicas No Poo e Co-Wash.\\n💜 Para: Co-wash\\n\\n## 💜 LOLA - CREMES E ATIVADORES\\n\\n**Creme Buriti Ativador de Cachos Plot Twist**\\nLink: https://www.aquariseshop.com/?product=38\\n📝 Ativador de cachos com óleo de Buriti. Nutre e define, proporcionando brilho intenso.\\n💜 Para: Ativar cachos\\n\\n**Creme de Pentear Ela é Carioca**\\nLink: https://www.aquariseshop.com/?product=39\\n📝 Finalizador 3 em 1: modelador, protetor térmico e hidratante. Controla o frizz e define.\\n💜 Para: Finalização 3 em 1\\n\\n**Creme de Pentear Milagre**\\nLink: https://www.aquariseshop.com/?product=40\\n📝 Creme de pentear multifuncional que desembaraça, hidrata e dá brilho. Pode ser usado como condicionador.\\n💜 Para: Multiuso\\n\\n**Creme Modelador Guava Plot Twist**\\nLink: https://www.aquariseshop.com/?product=41\\n📝 Modelador de cachos com extrato de Goiaba. Define e retém a umidade, combatendo o frizz.\\n💜 Para: Definição alta\\n\\n**Creme Texturizador Ondulados Lola**\\nLink: https://www.aquariseshop.com/?product=42\\n📝 Texturizador para ondas definidas e com movimento. Controla o volume sem pesar.\\n💜 Para: Ondas texturizadas\\n\\n**Creme Texturizador Transição**\\nLink: https://www.aquariseshop.com/?product=43\\n📝 Estimula a formação de cachos em cabelos em transição. Disfarça a diferença de texturas.\\n💜 Para: Transição capilar\\n\\n**Finalizador Leave In Danos Vorazes**\\nLink: https://www.aquariseshop.com/?product=44\\n📝 Finalizador de reparação imediata. Sela as cutículas, dá brilho intenso e controla o frizz.\\n💜 Para: Reparação imediata\\n\\n**Gel Nut Plot Twist**\\nLink: https://www.aquariseshop.com/?product=45\\n📝 Gel nutritivo para alta definição. Fixa os cachos sem ressecar.\\n💜 Para: Alta definição\\n\\n## 💜 LOLA - MÁSCARAS PODEROSAS\\n\\n**Máscara Morte Súbita**\\nLink: https://www.aquariseshop.com/?product=46\\n📝 Tratamento de reparação total e instantânea. Recupera cabelos danificados e quimicamente tratados em uma aplicação.\\n💜 Para: Socorro imediato\\n\\n**Máscara Danos Vorazes**\\nLink: https://www.aquariseshop.com/?product=47\\n📝 Reparação intensiva com Cannabinoid Active System (CBA) e Hair Kombucha. Devolve a vitalidade e saúde aos fios.\\n💜 Para: Danos extremos\\n\\n**Máscara Dream Cream**\\nLink: https://www.aquariseshop.com/?product=48\\n📝 Máscara super hidratante para cabelos secos e rebeldes. Recupera a fibra capilar e controla o volume.\\n💜 Para: Cabelos rebeldes\\n\\n**Máscara Ela é Carioca**\\nLink: https://www.aquariseshop.com/?product=49\\n📝 Hidronutrição profunda. Repõe a umidade e nutrientes perdidos, deixando os cabelos macios e sedosos.\\n💜 Para: Hidronutrição\\n\\n**Máscara Camomila**\\nLink: https://www.aquariseshop.com/?product=50\\n📝 Restaura e ilumina cabelos loiros. Com infusão de Camomila e Limão Siciliano.\\n💜 Para: Loiros luminosos\\n\\n**Máscara Densidade**\\nLink: https://www.aquariseshop.com/?product=51\\n📝 Restaura a densidade de cabelos finos e fracos. Fortalece a fibra e previne a quebra.\\n💜 Para: Cabelos finos\\n\\n**Máscara Disciplinante Xapadinha**\\nLink: https://www.aquariseshop.com/?product=52\\n📝 Alinhamento imediato dos fios. Reduz o frizz em até 40% e proporciona brilho espelhado.\\n💜 Para: Liso espelhado\\n\\n**Máscara Fluida Papo Reto**\\nLink: https://www.aquariseshop.com/?product=53\\n📝 Restauração molecular ultra potente. Repara danos extremos e fortalece a fibra capilar.\\n💜 Para: Restauração molecular\\n\\n**Máscara Hidrat. Meu Cacho Minha Vida**\\nLink: https://www.aquariseshop.com/?product=54\\n📝 Hidratação profunda para cachos. Penetra na fibra capilar, devolvendo o balanço e a definição.\\n💜 Para: Cachos hidratados\\n\\n**Máscara Hidrat. Ban/Aloe Vera Be(m)dita Ghee**\\nLink: https://www.aquariseshop.com/?product=55\\n📝 Hidratação com Banana e Aloe Vera. Repõe a água dos fios, deixando-os macios e brilhantes.\\n💜 Para: Hidratação intensa\\n\\n**Máscara Matizadora Loira de Farmácia**\\nLink: https://www.aquariseshop.com/?product=57\\n📝 Matiza e neutraliza os tons amarelados e alaranjados dos cabelos loiros e descoloridos.\\n💜 Para: Matizar loiros\\n\\n**Máscara Nutri. Abacaxi/Mant. Bacuri Be(m)dita Ghee**\\nLink: https://www.aquariseshop.com/?product=58\\n📝 Nutrição com Abacaxi e Manteiga de Bacuri. Repõe os lipídios e combate o ressecamento.\\n💜 Para: Nutrição profunda\\n\\n**Máscara Recons. Papaia/Queratina Be(m)dita Ghee**\\nLink: https://www.aquariseshop.com/?product=60\\n📝 Versão 100g da Máscara de Reconstrução Be(m)dita Ghee.\\n💜 Para: Reconstrução\\n\\n**Máscara Reconst. Argan Oil**\\nLink: https://www.aquariseshop.com/?product=62\\n📝 Reconstrução rica em Óleo de Argan. Preenche as áreas danificadas da cutícula capilar.\\n💜 Para: Reconstrução com argan\\n\\n**Máscara Restauradora Tarja Preta**\\nLink: https://www.aquariseshop.com/?product=63\\n📝 Máscara restauradora intensiva com Queratina Vegetal. Repara danos profundos e devolve a elasticidade.\\n💜 Para: Restauração intensiva\\n\\n## 💜 LOLA - ÓLEOS E FINALIZADORES\\n\\n**O Umidificador Que Sabia Demais**\\nLink: https://www.aquariseshop.com/?product=64\\n📝 Umidificador de cachos que define e controla o frizz sem pesar. Ideal para day after.\\n💜 Para: Day after\\n\\n**Óleo Papo Reto**\\nLink: https://www.aquariseshop.com/?product=65\\n📝 Óleo multifuncional com proteção térmica. Sela as pontas, dá brilho e controla o frizz.\\n💜 Para: Multiuso\\n\\n**Óleo Açaí/Pracaxi Pinga**\\nLink: https://www.aquariseshop.com/?product=66\\n📝 Óleo de tratamento pré e pós shampoo. Nutre, protege a cor e previne o desbotamento.\\n💜 Para: Proteção de cor\\n\\n**Óleo Argan/Pracaxi**\\nLink: https://www.aquariseshop.com/?product=67\\n📝 Óleo finalizador rico em Argan. Hidrata, dá brilho e controla o frizz.\\n💜 Para: Finalização com brilho\\n\\n**Óleo Disciplinante Xapadinha**\\nLink: https://www.aquariseshop.com/?product=68\\n📝 Óleo disciplinante com proteção térmica. Garante brilho espelhado e controle do frizz por 24h.\\n💜 Para: Disciplinar 24h\\n\\n**Óleo Hidr. Ban/Aloe Vera Be(m)dita Ghee**\\nLink: https://www.aquariseshop.com/?product=69\\n📝 Óleo hidratante bifásico. Pode ser usado como pré-shampoo ou finalizador para maciez extra.\\n💜 Para: Hidratação bifásica\\n\\n**Óleo Iluminador Camomila**\\nLink: https://www.aquariseshop.com/?product=70\\n📝 Óleo iluminador para loiros. Realça o brilho e protege contra o calor do secador.\\n💜 Para: Iluminar loiros\\n\\n**Óleo Nutri. Abacaxi/Mant. Bacuri Be(m)dita Ghee**\\nLink: https://www.aquariseshop.com/?product=71\\n📝 Óleo nutritivo para cabelos porosos. Repõe lipídios e devolve a vitalidade.\\n💜 Para: Cabelos porosos\\n\\n**Óleo Reconst. Papaia/Queratina Be(m)dita Ghee**\\nLink: https://www.aquariseshop.com/?product=72\\n📝 Óleo reconstrutor para cabelos quebradiços. Fortalece e protege contra a quebra.\\n💜 Para: Proteção contra quebra\\n\\n## 💜 LOLA - PROTEÍNAS E TRATAMENTOS\\n\\n**Proteína Ela é Carioca**\\nLink: https://www.aquariseshop.com/?product=73\\n📝 Proteína concentrada para reposição de massa. Fortalece e encorpa os fios finos.\\n💜 Para: Reposição de massa\\n\\n**Reativador de Cachos Guava Plot Twist**\\nLink: https://www.aquariseshop.com/?product=74\\n📝 Spray reativador para o day after. Revitaliza os cachos, reduz o frizz e perfuma.\\n💜 Para: Reativar cachos\\n\\n**Redutor Volume Vintage Girls**\\nLink: https://www.aquariseshop.com/?product=75\\n📝 Creme alisante e redutor de volume. Alinha os fios e reduz o frizz com fórmula suave.\\n💜 Para: Reduzir volume\\n\\n**Reparador/Booster Danos Vorazes**\\nLink: https://www.aquariseshop.com/?product=76\\n📝 Booster de reparação imediata. Recupera a estrutura do fio danificado em segundos.\\n💜 Para: Reparação express\\n\\n## 💜 LOLA - SHAMPOOS\\n\\n**Shampoo Dream**\\nLink: https://www.aquariseshop.com/?product=77\\n📝 Shampoo super hidratante para cabelos secos e rebeldes. Limpa suavemente e acalma os fios.\\n💜 Para: Cabelos secos\\n\\n**Shampoo Ela é Carioca**\\nLink: https://www.aquariseshop.com/?product=78\\n📝 Shampoo nutritivo que limpa sem agredir. Prepara os fios para o tratamento hidronutritivo.\\n💜 Para: Limpeza nutritiva\\n\\n**Shampoo Papo Reto**\\nLink: https://www.aquariseshop.com/?product=79\\n📝 Shampoo de limpeza profunda e reparação molecular. Remove impurezas e fortalece.\\n💜 Para: Limpeza profunda\\n\\n**Shampoo Camomila**\\nLink: https://www.aquariseshop.com/?product=80\\n📝 Shampoo iluminador para loiros. Realça os reflexos dourados e dá brilho.\\n💜 Para: Loiros brilhantes\\n\\n**Shampoo Densidade**\\nLink: https://www.aquariseshop.com/?product=81\\n📝 Shampoo restaurador de densidade. Fortalece a raiz e encorpa os fios finos.\\n💜 Para: Dar densidade\\n\\n**Shampoo Fortificante Danos Vorazes**\\nLink: https://www.aquariseshop.com/?product=82\\n📝 Shampoo de reparação suave. Limpa e inicia o processo de reconstrução dos fios danificados.\\n💜 Para: Fortalecer\\n\\n**Shampoo Hidr. Ban/Aloe Vera Be(m)dita Ghee**\\nLink: https://www.aquariseshop.com/?product=83\\n📝 Shampoo de hidratação. Limpa suavemente e repõe a umidade natural dos fios.\\n💜 Para: Hidratar\\n\\n**Shampoo Hidratante Morte Súbita**\\nLink: https://www.aquariseshop.com/?product=84\\n📝 Shampoo esfoliante e hidratante. Remove resíduos e prepara o cabelo para a máscara.\\n💜 Para: Esfoliar e hidratar\\n\\n**Shampoo Matizador Loira de Farmácia**\\nLink: https://www.aquariseshop.com/?product=85\\n📝 Shampoo matizador violeta. Neutraliza tons amarelados e limpa sem ressecar.\\n💜 Para: Matizar loiros\\n\\n**Shampoo Nutri. Abacaxi/Mant. Bacuri Be(m)dita Ghee**\\nLink: https://www.aquariseshop.com/?product=86\\n📝 Shampoo nutritivo. Limpa e devolve os lipídios essenciais para a saúde capilar.\\n💜 Para: Nutrir\\n\\n**Shampoo Reconst. Papaia/Queratina Be(m)dita Ghee**\\nLink: https://www.aquariseshop.com/?product=87\\n📝 Shampoo reconstrutor. Fortalece a fibra capilar durante a limpeza.\\n💜 Para: Reconstruir\\n\\n**Shampoo Reconstrutor Argan/Pracaxi**\\nLink: https://www.aquariseshop.com/?product=88\\n📝 Shampoo reparador com Óleo de Argan. Limpa e auxilia na reconstrução dos fios.\\n💜 Para: Reparar com argan\\n\\n**Shampoo Rejuvenescedor Rapunzel**\\nLink: https://www.aquariseshop.com/?product=89\\n📝 Shampoo fortificante que estimula o crescimento e reduz a queda de cabelo.\\n💜 Para: Estimular crescimento\\n\\n**Shampoo S/ Enxágue Plot Twist**\\nLink: https://www.aquariseshop.com/?product=90\\n📝 Shampoo a seco em espuma. Limpa e revitaliza os cachos sem precisar de água.\\n💜 Para: Shampoo a seco\\n\\n**Shampoo Sólido Morte Súbita**\\nLink: https://www.aquariseshop.com/?product=91\\n📝 Shampoo em barra esfoliante. Prático, sustentável e com alto poder de limpeza e hidratação.\\n💜 Para: Sustentável\\n\\n## 🌊 LINHA SIÀGE - RECONSTRÓI OS FIOS\\n\\n**Shampoo Siàge Reconstrói os Fios**\\nLink: https://www.aquariseshop.com/?product=98\\n📝 Reconstrução total para cabelos danificados. Enriquecido com Óleo de Argan e Queratina, recupera 1 ano de danos em 2 semanas.\\n💜 Para: Danos severos\\n\\n**Condicionador Siàge Reconstrói os Fios**\\nLink: https://www.aquariseshop.com/?product=99\\n📝 Desembaraça e reconstrói os fios. Hidratação intensa que acaba com a sensação de cabelos ásperos e porosos.\\n💜 Para: Cabelos ásperos\\n\\n**Máscara Siàge Reconstrói os Fios**\\nLink: https://www.aquariseshop.com/?product=100\\n📝 Tratamento intensivo que oferece o dobro de força aos fios e combate as pontas duplas.\\n💜 Para: Dobrar a força\\n\\n**Óleo de Argan Siàge Reconstrói**\\nLink: https://www.aquariseshop.com/?product=155\\n📝 Óleo de Argan reparador. Repõe proteínas, perfuma e protege do calor.\\n💜 Para: Reparação com argan\\n\\n**Queratina Líquida Siàge Reconstrói**\\nLink: https://www.aquariseshop.com/?product=156\\n📝 Queratina líquida para cauterização. Repõe proteínas e reconstrói a fibra capilar danificada.\\n💜 Para: Cauterização\\n\\n## 🌊 LINHA SIÀGE - GLOW EXPERT\\n\\n**Shampoo Siàge Glow Expert**\\nLink: https://www.aquariseshop.com/?product=101\\n📝 Limpa sem ressecar e prepara os fios para um brilho espelhado. Com Flor das Geleiras e GlossFix.\\n💜 Para: Brilho extremo\\n\\n**Condicionador Siàge Glow Expert**\\nLink: https://www.aquariseshop.com/?product=102\\n📝 Sela as cutículas e garante brilho intenso por até 72 horas. Devolve a maciez e vitalidade.\\n💜 Para: Brilho 72h\\n\\n**Máscara Siàge Glow Expert**\\nLink: https://www.aquariseshop.com/?product=103\\n📝 Cria uma película que uniformiza a fibra capilar, proporcionando fios polidos e com brilho extremo.\\n💜 Para: Fios polidos\\n\\n**Balm Siàge Glow Expert**\\nLink: https://www.aquariseshop.com/?product=157\\n📝 Balm finalizador que proporciona brilho e luminosidade instantâneos aos fios.\\n💜 Para: Brilho instantâneo\\n\\n## 🌊 LINHA SIÀGE - HAIR-PLASTIA\\n\\n**Shampoo Siàge Hair-Plastia**\\nLink: https://www.aquariseshop.com/?product=104\\n📝 Plástica capilar que corrige lesões do fio. Com Bio Hialurônico, deixa o cabelo mais encorpado e macio.\\n💜 Para: Plástica capilar\\n\\n**Condicionador Siàge Hair-Plastia**\\nLink: https://www.aquariseshop.com/?product=105\\n📝 Hidratação tridimensional que age em todas as camadas do fio. Elimina a porosidade e retém a água.\\n💜 Para: Hidratação 3D\\n\\n**Máscara Siàge Hair-Plastia**\\nLink: https://www.aquariseshop.com/?product=106\\n📝 Repõe a massa capilar e deixa os fios mais densos e resistentes. Resultado de salão em casa.\\n💜 Para: Densidade capilar\\n\\n## 🌊 LINHA SIÀGE - ACELERA O CRESCIMENTO\\n\\n**Shampoo Siàge Acelera o Crescimento**\\nLink: https://www.aquariseshop.com/?product=107\\n📝 Estimula o crescimento de novos fios e reduz a queda. Com Prebiótico e Biotina.\\n💜 Para: Crescimento acelerado\\n\\n**Condicionador Siàge Acelera o Crescimento**\\nLink: https://www.aquariseshop.com/?product=108\\n📝 Fortalece a fibra capilar e previne a quebra, facilitando o crescimento saudável.\\n💜 Para: Prevenir quebra\\n\\n**Máscara Siàge Acelera o Crescimento**\\nLink: https://www.aquariseshop.com/?product=109\\n📝 Ação antiquebra imediata. Prolonga a vida dos fios e garante crescimento de até 3cm em 2 meses.\\n💜 Para: +3cm em 2 meses\\n\\n**Tônico Siàge Acelera o Crescimento**\\nLink: https://www.aquariseshop.com/?product=110\\n📝 Age diretamente no bulbo capilar, ativando o metabolismo e estimulando o crescimento.\\n💜 Para: Estimular bulbo\\n\\n## 🌊 LINHA SIÀGE - LISO INTENSO\\n\\n**Shampoo Siàge Liso Intenso**\\nLink: https://www.aquariseshop.com/?product=111\\n📝 Limpeza que alinha os fios. Fórmula com Creatina que bloqueia o frizz e prolonga o liso.\\n💜 Para: Bloquear frizz\\n\\n**Condicionador Siàge Liso Intenso**\\nLink: https://www.aquariseshop.com/?product=112\\n📝 Desembaraça e hidrata sem pesar. Mantém os cabelos lisos e disciplinados por mais tempo.\\n💜 Para: Liso duradouro\\n\\n**Máscara Siàge Liso Intenso**\\nLink: https://www.aquariseshop.com/?product=113\\n📝 Liso perfeito e hidratado. Reduz a porosidade e as pontas duplas, com proteção térmica.\\n💜 Para: Liso perfeito\\n\\n**Selante Siàge Liso Intenso**\\nLink: https://www.aquariseshop.com/?product=158\\n📝 Selante finalizador com proteção térmica. Deixa o cabelo liso, brilhante e sem frizz.\\n💜 Para: Selar o liso\\n\\n## 🌊 LINHA SIÀGE - NUTRI ROSÉ\\n\\n**Shampoo Siàge Nutri Rosé**\\nLink: https://www.aquariseshop.com/?product=117\\n📝 Nutrição e reparação da raiz às pontas. Com Elixir de Rosas e Argila Vermelha, não pesa na raiz.\\n💜 Para: Nutrição sem pesar\\n\\n**Condicionador Siàge Nutri Rosé**\\nLink: https://www.aquariseshop.com/?product=118\\n📝 Sela as cutículas e previne a tesoura. Repara as pontas duplas e deixa o cabelo macio.\\n💜 Para: Anti-tesoura\\n\\n**Máscara Siàge Nutri Rosé**\\nLink: https://www.aquariseshop.com/?product=119\\n📝 Nutrição profunda com efeito anti-tesoura. Repara instantaneamente a fibra danificada.\\n💜 Para: Reparação instantânea\\n\\n## 🌊 LINHA SIÀGE - HIDRATAÇÃO MICELAR\\n\\n**Shampoo Siàge Hidratação Micelar**\\nLink: https://www.aquariseshop.com/?product=120\\n📝 Limpeza inteligente que remove impurezas sem ressecar. Com Ativos Micelares e Algas Marinhas.\\n💜 Para: Limpeza inteligente\\n\\n**Condicionador Siàge Hidratação Micelar**\\nLink: https://www.aquariseshop.com/?product=121\\n📝 Hidratação balanceada. Desembaraça e deixa os fios soltos e com movimento.\\n💜 Para: Movimento natural\\n\\n**Máscara Siàge Hidratação Micelar**\\nLink: https://www.aquariseshop.com/?product=122\\n📝 Recupera a hidratação dos fios em 1 minuto. Cabelos 3x mais macios e soltos.\\n💜 Para: Hidratação 1 min\\n\\n## 🌊 LINHA SIÀGE MEN\\n\\n**Shampoo Siàge Men**\\nLink: https://www.aquariseshop.com/?product=126\\n📝 Limpeza refrescante e eficaz para o cabelo masculino. Controla a oleosidade e a caspa.\\n💜 Para: Homens ativos\\n\\n**Tônico Siàge Men**\\nLink: https://www.aquariseshop.com/?product=127\\n📝 Combate a queda e estimula o crescimento de novos fios. Fortalece a raiz.\\n💜 Para: Queda masculina\\n\\n**Pomada Modeladora Siàge Men**\\nLink: https://www.aquariseshop.com/?product=128\\n📝 Alta fixação e efeito matte. Modela os fios sem deixar resíduos.\\n💜 Para: Modelar masculino\\n\\n## 🌊 LINHA SIÀGE - REMOVE OLEOSIDADE\\n\\n**Shampoo Siàge Remove a Oleosidade**\\nLink: https://www.aquariseshop.com/?product=129\\n📝 Controla a oleosidade por até 8 horas. Limpa profundamente sem ressecar as pontas.\\n💜 Para: Controle de oleosidade\\n\\n## 🌊 LINHA SIÀGE - PRO CRONOLOGY CURVAS\\n\\n**Shampoo Siàge Pro Cronology Curvas**\\nLink: https://www.aquariseshop.com/?product=153\\n📝 Shampoo específico para cabelos cacheados e crespos. Define e realça as curvas naturais.\\n💜 Para: Curvas definidas\\n\\n**Condicionador Siàge Pro Cronology Curvas**\\nLink: https://www.aquariseshop.com/?product=154\\n📝 Condicionador que define e realça as curvas naturais dos cabelos cacheados.\\n💜 Para: Realçar curvas\\n\\n## 💛 LINHA ACID GOLD\\n\\n**Shampoo Acid Gold**\\nLink: https://www.aquariseshop.com/?product=159\\n📝 Shampoo reconstrutor da linha Acid Gold. Limpeza suave e reparação para cabelos danificados.\\n💜 Para: Reconstrução gold\\n\\n**Condicionador Acid Gold**\\nLink: https://www.aquariseshop.com/?product=160\\n📝 Condicionador reconstrutor Acid Gold. Sela as cutículas e devolve o brilho e a maciez.\\n💜 Para: Selar gold\\n\\n**Máscara Capilar Acid Gold**\\nLink: https://www.aquariseshop.com/?product=161\\n📝 Máscara capilar de alta performance. Reconstrução profunda e brilho espelhado.\\n💜 Para: Performance gold\\n\\n## 🔥 LINHA PODEROSO\\n\\n**Shampoo Poderoso**\\nLink: https://www.aquariseshop.com/?product=162\\n📝 Shampoo Poderoso. Fortalece os fios e estimula o crescimento saudável.\\n💜 Para: Força poderosa\\n\\n**Condicionador Poderoso**\\nLink: https://www.aquariseshop.com/?product=163\\n📝 Condicionador Poderoso. Desembaraça, hidrata e previne a quebra.\\n💜 Para: Hidratação poderosa\\n\\n## 🌸 PERFUMARIA\\n\\n**Lyra**\\nLink: https://www.aquariseshop.com/?product=92\\n📝 Fragrância exuberante e marcante. Notas de frutas vermelhas e flores brancas, ideal para mulheres que brilham.\\n💜 Para: Mulheres marcantes\\n\\n**La Victorie Intense**\\nLink: https://www.aquariseshop.com/?product=93\\n📝 Eau de Parfum intenso e sofisticado. Combina a força da flor de Tuberosa com a doçura do Caramelo.\\n💜 Para: Sofisticação intensa\\n\\n**Club 6 Intenso**\\nLink: https://www.aquariseshop.com/?product=97\\n📝 Para o homem que sabe o que quer. Fragrância Fougère Amadeirada com notas de Cedro e Sândalo.\\n💜 Para: Homem decidido\\n\\n## 💜 CORPO E SKINCARE\\n\\n**Body Splash Instance Karité**\\nLink: https://www.aquariseshop.com/?product=136\\n📝 Spray perfumado desodorante corporal com karité. Proporciona hidratação e fragrância leve para uso diário.\\n💜 Para: Perfumar e hidratar\\n\\n**Body Splash Instance Baunilha**\\nLink: https://www.aquariseshop.com/?product=137\\n📝 Spray perfumado desodorante corporal com fragrância de baunilha. Proporciona hidratação e fragrância leve para uso diário.\\n💜 Para: Aroma doce\\n\\n**Creme Acetinado La Victorie Intense**\\nLink: https://www.aquariseshop.com/?product=140\\n📝 Creme acetinado hidratante desodorante corporal. Toque acetinado e hidratação intensa por até 48h com fragrância floral amadeirada.\\n💜 Para: Hidratação 48h\\n\\n**Hidratante Instance Frutas Vermelhas**\\nLink: https://www.aquariseshop.com/?product=149\\n📝 Creme hidratante corporal com fragrância de frutas vermelhas. Proporciona hidratação e aroma frutado.\\n💜 Para: Aroma frutado\\n\\n**Esfoliante Instance Frutas Vermelhas**\\nLink: https://www.aquariseshop.com/?product=150\\n📝 Esfoliante corporal com fragrância de frutas vermelhas. Remove células mortas e deixa a pele suave e hidratada.\\n💜 Para: Esfoliar corpo\\n\\n**Máscara Esfoliante Nina Skin**\\nLink: https://www.aquariseshop.com/?product=151\\n📝 Máscara esfoliante com enzimas naturais. Remove impurezas e células mortas de forma suave, deixando a pele renovada e luminosa.\\n💜 Para: Pele renovada\\n\\n**Gel de Limpeza Nina Secrets**\\nLink: https://www.aquariseshop.com/?product=152\\n📝 Gel de limpeza facial. Remove impurezas e deixa a pele limpa e fresca.\\n💜 Para: Limpeza facial\";"
      },
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1,
      "position": [
        3500,
        1500
      ],
      "id": "be4fc49c-29f4-4bb7-9641-ab373ed7778d",
      "name": "Consultar produtos"
    }
  ],
  "pinData": {},
  "connections": {
    "Mensagem encavalada?": {
      "main": [
        [
          {
            "node": "Verificar status atendimento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar mensagens": {
      "main": [
        [
          {
            "node": "Mensagem encavalada?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limpar fila de mensagens": {
      "main": [
        [
          {
            "node": "Marcar como lidas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Esperar": {
      "main": [
        [
          {
            "node": "Buscar mensagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tipo de mensagem": {
      "main": [
        [
          {
            "node": "Enfileirar mensagem.",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enfileirar mensagem.",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download áudio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Listar arquivos": {
      "ai_tool": [
        [
          {
            "node": "Secretária v3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Memory": {
      "ai_memory": [
        [
          {
            "node": "Secretária v3",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Enfileirar mensagem.": {
      "main": [
        [
          {
            "node": "Esperar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Marcar como lidas": {
      "main": [
        [
          {
            "node": "Coletar mensagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download áudio": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcrever audio": {
      "main": [
        [
          {
            "node": "Enfileirar mensagem.",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Escalar humano": {
      "ai_tool": [
        [
          {
            "node": "Secretária v3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Info": {
      "main": [
        [
          {
            "node": "Reset ou teste",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Processar mensagem?": {
      "main": [
        [
          {
            "node": "Tipo de mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reset ou teste": {
      "main": [
        [
          {
            "node": "Limpar memória",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Colocar etiqueta testando-agente",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Processar mensagem?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limpar etiquetas": {
      "main": [
        [
          {
            "node": "Resetar status atendimento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limpar memória": {
      "main": [
        [
          {
            "node": "Resetar atributos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resetar atributos": {
      "main": [
        [
          {
            "node": "Limpar etiquetas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limpar fila de mensagens1": {
      "main": [
        [
          {
            "node": "Enviar memória resetada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Colocar etiqueta testando-agente": {
      "main": [
        [
          {
            "node": "Enviar teste habilitado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agente já terminou de responder?": {
      "main": [
        [
          {
            "node": "Limpar fila de mensagens",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Esperar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Coletar mensagens": {
      "main": [
        [
          {
            "node": "Secretária v3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar texto separado": {
      "ai_tool": [
        [
          {
            "node": "Secretária v3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Salvar tool calls": {
      "main": [
        [
          {
            "node": "Buscar atributos do contato",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Usou tools?": {
      "main": [
        [
          {
            "node": "Salvar tool calls",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Buscar atributos do contato",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar atributos do contato": {
      "main": [
        [
          {
            "node": "Calcular tipo da resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calcular tipo da resposta": {
      "main": [
        [
          {
            "node": "Tipo da resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tipo da resposta": {
      "main": [
        [
          {
            "node": "Formatar texto",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Formatar texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gravando...": {
      "main": [
        [
          {
            "node": "Gerar áudio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar áudio": {
      "main": [
        [
          {
            "node": "Limpar status atendimento1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Quebrar e enviar mensagens": {
      "main": [
        [
          {
            "node": "Limpar status atendimento1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar janelas disponiveis": {
      "ai_tool": [
        [
          {
            "node": "Secretária v3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Preferencia audio texto": {
      "ai_tool": [
        [
          {
            "node": "Secretária v3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Reagir mensagem": {
      "ai_tool": [
        [
          {
            "node": "Secretária v3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Formatar SSML",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Formatar texto",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Verificar status atendimento": {
      "main": [
        [
          {
            "node": "Agente já terminou de responder?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resetar status atendimento": {
      "main": [
        [
          {
            "node": "Limpar fila de mensagens1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limpar status atendimento": {
      "main": [
        [
          {
            "node": "Output inválido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "ai_languageModel": [
        [
          {
            "node": "Secretária v3",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Output válido?": {
      "main": [
        [
          {
            "node": "Usou tools?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Limpar status atendimento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatar texto": {
      "main": [
        [
          {
            "node": "Quebrar e enviar mensagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatar SSML": {
      "main": [
        [
          {
            "node": "Gravando...",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem recebida": {
      "main": [
        [
          {
            "node": "Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar alerta de cancelamento": {
      "ai_tool": [
        [
          {
            "node": "Secretária v3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Criar agendamento": {
      "ai_tool": [
        [
          {
            "node": "Secretária v3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Cancelar agendamento": {
      "ai_tool": [
        [
          {
            "node": "Secretária v3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Buscar agendamentos do contato": {
      "ai_tool": [
        [
          {
            "node": "Secretária v3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Criar ou buscar cobranca": {
      "ai_tool": [
        [
          {
            "node": "Secretária v3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Secretária v3": {
      "main": [
        [
          {
            "node": "Output válido?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gerar áudio": {
      "main": [
        [
          {
            "node": "Enviar áudio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualizar agendamento": {
      "ai_tool": [
        [
          {
            "node": "Secretária v3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Transcrever audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Refletir": {
      "ai_tool": [
        [
          {
            "node": "Secretária v3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Enviar arquivo1": {
      "ai_tool": [
        [
          {
            "node": "Secretária v3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Bloquear status atendimento": {
      "main": [
        []
      ]
    },
    "Consultar produtos": {
      "ai_tool": [
        [
          {
            "node": "Secretária v3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "af967559-72b5-4752-b0e0-37300c895dc6",
  "meta": {
    "instanceId": "6fb77e5d94ddb7ac6d608bc017638432eba027bb9969d24d84be1604e922a234"
  },
  "id": "oqSYDXb64XF0adTm",
  "tags": []
}